
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q1" ></canvas>
      <script>create_chartpie("q1",{{ lista_Aut[0] | safe}},"Questão 1")</script>
      <div id="comentario"> Conheço e executo as ferramentas básicas de solução de problemas (5 PQs, relato de anomalia). </div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q2" ></canvas>
      <script>create_chartpie("q2",{{ lista_Aut[1] | safe}},"Questão 2")</script>
      <div id="comentario"> Conheço as principais causas de anomalias dos indicadores de . </div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q3" ></canvas>
      <script>create_chartpie("q3",{{ lista_Aut[2] | safe}},"Questão 3")</script>
      <div id="comentario"> Gero ações para tratativa para os problemas dentro do turno.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q4" ></canvas>
      <script>create_chartpie("q4",{{ lista_Aut[3] | safe}},"Questão 4")</script>
      <div id="comentario"> Direciono a operação na solução dos problemas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q5" ></canvas>
      <script>create_chartpie("q5",{{ lista_Aut[4] | safe}},"Questão 5")</script>
      <div id="comentario"> Conheço o sonho da área, principais Ivs e Entendo o seu papel na área. </div>
    </div>
</div>
<br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q6" ></canvas>
      <script>create_chartpie("q6",{{ lista_Aut[5] | safe}},"Questão 6")</script>
      <div id="comentario"> Entendo e Sei explicar o cascateamento de Ivs (estratégia  reunião diária  troca de turno).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q7" ></canvas>
      <script>create_chartpie("q7",{{ lista_Aut[6] | safe}},"Questão 7")</script>
      <div id="comentario"> Conheço sua meta diária e gerencia o próprio resultado no dia a dia.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q8" ></canvas>
      <script>create_chartpie("q8",{{ lista_Aut[7] | safe}},"Questão 8")</script>
      <div id="comentario"> Treino demais funcionários nas ferramentas de gestão.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q9" ></canvas>
      <script>create_chartpie("q9",{{ lista_Aut[8] | safe}},"Questão 9")</script>
      <div id="comentario"> Possuo conhecimento dos padrões de atividades críticas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q10" ></canvas>
      <script>create_chartpie("q10",{{ lista_Aut[9] | safe}},"Questão 10")</script>
      <div id="comentario"> Executo as tarefas de segurança (relato de incidente, abordagem, condição insegura).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q11" ></canvas>
      <script>create_chartpie("q11",{{ lista_Aut[10] | safe}},"Questão 11")</script>
      <div id="comentario"> Conheço os últimos SIFs da área e principais saídas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q12" ></canvas>
      <script>create_chartpie("q12",{{ lista_Aut[11] | safe}},"Questão 12")</script>
      <div id="comentario"> Sei analisar os principais indicadores de produtividade relacionado a atividades críticas e sua correlação com segurança.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q13" ></canvas>
      <script>create_chartpie("q13",{{ lista_Aut[12] | safe}},"Questão 13")</script>
      <div id="comentario"> Busco melhoria continua nos processos e condições em prol de segurança.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q14" ></canvas>
      <script>create_chartpie("q14",{{ lista_Aut[13] | safe}},"Questão 14")</script>
      <div id="comentario"> Tenho conhecimento em programação de PLC (ladder, FBD).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q15" ></canvas>
      <script>create_chartpie("q15",{{ lista_Aut[14] | safe}},"Questão 15")</script>
      <div id="comentario"> Tenho conhecimento de raciocínio lógico de programação (C,C++, Java).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q16" ></canvas>
      <script>create_chartpie("q16",{{ lista_Aut[15] | safe}},"Questão 16")</script>
      <div id="comentario"> Tenho conhecimento Básico de Malhas de Controle (proporcional, PID, fuzzy, IA).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q17" ></canvas>
      <script>create_chartpie("q17",{{ lista_Aut[16] | safe}},"Questão 17")</script>
      <div id="comentario"> Programação em PLC: Sou capaz de  criar funções e mover dados no código.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q18" ></canvas>
      <script>create_chartpie("q18",{{ lista_Aut[17] | safe}},"Questão 18")</script>
      <div id="comentario"> Tenho conhecimento básico em programação de supervisórios e IHM (SCADA...).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q19" ></canvas>
      <script>create_chartpie("q19",{{ lista_Aut[18] | safe}},"Questão 19")</script>
      <div id="comentario"> Tenho conhecimento em extração e Sou capaz de  link com disponibilidade de dados por telemetria.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q20" ></canvas>
      <script>create_chartpie("q20",{{ lista_Aut[19] | safe}},"Questão 20")</script>
      <div id="comentario"> Sou capaz de  criação e gestão de Bis.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q21" ></canvas>
      <script>create_chartpie("q21",{{ lista_Aut[20] | safe}},"Questão 21")</script>
      <div id="comentario"> Realizo programação em PLC: criação de lógicas mais complexas e otimizadas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q22" ></canvas>
      <script>create_chartpie("q22",{{ lista_Aut[21] | safe}},"Questão 22")</script>
      <div id="comentario"> Tenho conhecimento mais avançado em Telemetria: capaz de estimular novas tecnologias e ferramentas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q23" ></canvas>
      <script>create_chartpie("q23",{{ lista_Aut[22] | safe}},"Questão 23")</script>
      <div id="comentario"> Tenho conhecimento avançado em Programação (LADDER)  capaz de escrever a lógica de forma otimizada e programação em lista.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q24" ></canvas>
      <script>create_chartpie("q24",{{ lista_Aut[23] | safe}},"Questão 24")</script>
      <div id="comentario"> Sou capaz de  criação e edição de telas supervisório mais complexas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q25" ></canvas>
      <script>create_chartpie("q25",{{ lista_Aut[24] | safe}},"Questão 25")</script>
      <div id="comentario"> Sou capaz de  configurar sistemas de controle (exemplo: PID).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q26" ></canvas>
      <script>create_chartpie("q26",{{ lista_Aut[25] | safe}},"Questão 26")</script>
      <div id="comentario"> Tenho conhecimento básico em metrologia e calibração de instrumentos.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q27" ></canvas>
      <script>create_chartpie("q27",{{ lista_Aut[26] | safe}},"Questão 27")</script>
      <div id="comentario"> Tenho conhecimento dos padrões de instrumentação (legislação).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q28" ></canvas>
      <script>create_chartpie("q28",{{ lista_Aut[27] | safe}},"Questão 28")</script>
      <div id="comentario"> Sei interpretar os digramas de instrumentação.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q29" ></canvas>
      <script>create_chartpie("q29",{{ lista_Aut[28] | safe}},"Questão 29")</script>
      <div id="comentario"> Sou capaz de  realizar manutenção preventiva em analítico.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q30" ></canvas>
      <script>create_chartpie("q30",{{ lista_Aut[29] | safe}},"Questão 30")</script>
      <div id="comentario"> Realizo a baixa nos lotes de controle (Tenho conhecimento básico SAP).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q31" ></canvas>
      <script>create_chartpie("q31",{{ lista_Aut[30] | safe}},"Questão 31")</script>
      <div id="comentario"> Tenho conhecimento básico cybersecurity e instalação de antivírus.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q32" ></canvas>
      <script>create_chartpie("q32",{{ lista_Aut[31] | safe}},"Questão 32")</script>
      <div id="comentario"> Sou capaz de  estabelecer sistemas e servidores em caso de falhas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q33" ></canvas>
      <script>create_chartpie("q33",{{ lista_Aut[32] | safe}},"Questão 33")</script>
      <div id="comentario"> Sou capaz de  realizar gestão de backups. Realizando a comparação e execução do histórico de Backups.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q34" ></canvas>
      <script>create_chartpie("q34",{{ lista_Aut[33] | safe}},"Questão 34")</script>
      <div id="comentario"> Sou capaz de  inclusão de novos periféricos na rede (Asi).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q35" ></canvas>
      <script>create_chartpie("q35",{{ lista_Aut[34] | safe}},"Questão 35")</script>
      <div id="comentario"> Sou capaz de  instalação de drivers em periféricos de automação e gerenciamento de redes.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q36" ></canvas>
      <script>create_chartpie("q36",{{ lista_Aut[35] | safe}},"Questão 36")</script>
      <div id="comentario"> Sou capaz de  utilizar instrumentos de diagnóstico de rede industrial.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q37" ></canvas>
      <script>create_chartpie("q37",{{ lista_Aut[36] | safe}},"Questão 37")</script>
      <div id="comentario"> Sou capaz de  inclusão de novos periféricos na rede (Ethernet, Modbus,Profibus).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q38" ></canvas>
      <script>create_chartpie("q38",{{ lista_Aut[37] | safe}},"Questão 38")</script>
      <div id="comentario"> Tenho conhecimento em Servo: Sou capaz de  configuração de drive em malha (com multivariáveis de controle).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q39" ></canvas>
      <script>create_chartpie("q39",{{ lista_Aut[38] | safe}},"Questão 39")</script>
      <div id="comentario"> Tenho conhecimento em Infra de Redes.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q40" ></canvas>
      <script>create_chartpie("q40",{{ lista_Aut[39] | safe}},"Questão 40")</script>
      <div id="comentario"> Sou capaz de  configurar rede e realizar análises de falhas de redes industriais.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q41" ></canvas>
      <script>create_chartpie("q41",{{ lista_Aut[40] | safe}},"Questão 41")</script>
      <div id="comentario"> Sou capaz de  realizar configuração do switch,cabeamento estruturado e Vlans.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q42" ></canvas>
      <script>create_chartpie("q42",{{ lista_Aut[41] | safe}},"Questão 42")</script>
      <div id="comentario"> Sou capaz de  realizar alterações em Redes e em Drives de Comunicação (Atualizações).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q43" ></canvas>
      <script>create_chartpie("q43",{{ lista_Aut[42] | safe}},"Questão 43")</script>
      <div id="comentario"> Tenho conhecimento sobre o funcionamento dos sensores.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q44" ></canvas>
      <script>create_chartpie("q44",{{ lista_Aut[43] | safe}},"Questão 44")</script>
      <div id="comentario"> Sou capaz de  realizar configuração de inversores e ligações (inversores, motores e soft).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q45" ></canvas>
      <script>create_chartpie("q45",{{ lista_Aut[44] | safe}},"Questão 45")</script>
      <div id="comentario"> Sou capaz de  realizar comunicações com servo motor e identificar falhas.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q46" ></canvas>
      <script>create_chartpie("q46",{{ lista_Aut[45] | safe}},"Questão 46")</script>
      <div id="comentario"> Sou capaz de  realizar corretiva e preventiva em servos.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q47" ></canvas>
      <script>create_chartpie("q47",{{ lista_Aut[46] | safe}},"Questão 47")</script>
      <div id="comentario"> Sou capaz de  configurar atividades simples em drive de servo.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q48" ></canvas>
      <script>create_chartpie("q48",{{ lista_Aut[47] | safe}},"Questão 48")</script>
      <div id="comentario"> Tenho conhecimento de troca de palavras entre inversor e PLC (controle do inversor via rede).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q49" ></canvas>
      <script>create_chartpie("q49",{{ lista_Aut[48] | safe}},"Questão 49")</script>
      <div id="comentario"> Sou capaz de  acesso e identificação de falhas e Consigo configurar subconjunto novo (servo).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q50" ></canvas>
      <script>create_chartpie("q50",{{ lista_Aut[49] | safe}},"Questão 50")</script>
      <div id="comentario"> Sou capaz de  realizar diagnóstico de problemas relacionado a sensores.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q51" ></canvas>
      <script>create_chartpie("q51",{{ lista_Aut[50] | safe}},"Questão 51")</script>
      <div id="comentario"> Capacidade de manutenção e realizar ajustes de encoder de Servo Motor.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q52" ></canvas>
      <script>create_chartpie("q52",{{ lista_Aut[51] | safe}},"Questão 52")</script>
      <div id="comentario"> Sou capaz de  realizar análises de falha de Drive e Servo Motor.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q53" ></canvas>
      <script>create_chartpie("q53",{{ lista_Aut[52] | safe}},"Questão 53")</script>
      <div id="comentario"> Sou capaz de  projetar e implementar automação de processos manuais.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q54" ></canvas>
      <script>create_chartpie("q54",{{ lista_Aut[53] | safe}},"Questão 54")</script>
      <div id="comentario"> Sou capaz de  extrair dados de qualquer equipamento e inserir em algum sistema de visualização (Ex. BI).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q55" ></canvas>
      <script>create_chartpie("q55",{{ lista_Aut[54] | safe}},"Questão 55")</script>
      <div id="comentario"> Tenho conhecimento elétrico l NÍVEL FABRIL NR10.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q56" ></canvas>
      <script>create_chartpie("q56",{{ lista_Aut[55] | safe}},"Questão 56")</script>
      <div id="comentario"> Tenho conhecimento em eletrônica básica: componentes e placas eletrônicas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q57" ></canvas>
      <script>create_chartpie("q57",{{ lista_Aut[56] | safe}},"Questão 57")</script>
      <div id="comentario"> Sou capaz de  utilizar as principais ferramentas de eletrônica (osciloscópio, multímetro, ferro de solda).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q58" ></canvas>
      <script>create_chartpie("q58",{{ lista_Aut[57] | safe}},"Questão 58")</script>
      <div id="comentario"> Tenho conhecimento das boas práticas de instalação e práticas preventiva em painéis e refrigeração.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q59" ></canvas>
      <script>create_chartpie("q59",{{ lista_Aut[58] | safe}},"Questão 59")</script>
      <div id="comentario"> Sou capaz de  realizar recuperação "física" no painel.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q60" ></canvas>
      <script>create_chartpie("q60",{{ lista_Aut[59] | safe}},"Questão 60")</script>
      <div id="comentario"> Tenho conhecimento Básico de Cybersecurity</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q61" ></canvas>
      <script>create_chartpie("q61",{{ lista_Aut[60] | safe}},"Questão 61")</script>
      <div id="comentario"> Tenho conhecimento avançado em computadores (instalação de qualquer software, diagnóstico de problemas, instalação de sistemas operacionais).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q62" ></canvas>
      <script>create_chartpie("q62",{{ lista_Aut[61] | safe}},"Questão 62")</script>
      <div id="comentario"> Tenho conhecimento em microcontroladores.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">6
      <canvas id = "q63" ></canvas>
      <script>create_chartpie("q63",{{ lista_Aut[62] | safe}},"Questão 63")</script>
      <div id="comentario"> Consigo propor melhorias em qualidade de energia.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q64" ></canvas>
      <script>create_chartpie("q64",{{ lista_Aut[63] | safe}},"Questão 64")</script>
      <div id="comentario"> Tenho conhecimento em Cybersecurity  Realizo a procura ativa de falhas de segurança e Realizo a investigação de ataques.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q65" ></canvas>
      <script>create_chartpie("q65",{{ lista_Aut[64] | safe}},"Questão 65")</script>
      <div id="comentario"> Sou capaz de  Recuperar Sistemas Automáticos  Infra + Painel + Backup (Desaster Recovery).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q66" ></canvas>
      <script>create_chartpie("q66",{{ lista_Aut[65] | safe}},"Questão 66")</script>
      <div id="comentario"> Tenho conhecimento em Banco de dados  Sou capaz de  inserir novos dados e consultar.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q67" ></canvas>
      <script>create_chartpie("q67",{{ lista_Aut[66] | safe}},"Questão 67")</script>
      <div id="comentario"> Sou capaz de realizar tratamento de dados.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q68" ></canvas>
      <script>create_chartpie("q68",{{ lista_Aut[67] | safe}},"Questão 68")</script>
      <div id="comentario"> Sou capaz de realizar coleta de dados e propor diferentes formas de coletar.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q69" ></canvas>
      <script>create_chartpie("q69",{{ lista_Aut[68] | safe}},"Questão 69")</script>
      <div id="comentario"> Sou capaz de realizar análises estatísticas a partir dos dados coletados.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q70" ></canvas>
      <script>create_chartpie("q70",{{ lista_Aut[69] | safe}},"Questão 70")</script>
      <div id="comentario"> Realizo a manutenção de banco de dados.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q71" ></canvas>
      <script>create_chartpie("q71",{{ lista_Aut[70] | safe}},"Questão 71")</script>
      <div id="comentario"> Sou capaz de realizar configuração de acesso remoto a servidores.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q72" ></canvas>
      <script>create_chartpie("q72",{{ lista_Aut[71] | safe}},"Questão 72")</script>
      <div id="comentario"> Realizo a manutenção de máquinas virtuais.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q73" ></canvas>
      <script>create_chartpie("q73",{{ lista_Aut[72] | safe}},"Questão 73")</script>
      <div id="comentario"> Tenho conhecimento básico em robótica.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q74" ></canvas>
      <script>create_chartpie("q74",{{ lista_Aut[73] | safe}},"Questão 74")</script>
      <div id="comentario"> Sou capaz de  desenvolver controles de processos e propor automação de processos manuais.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q75" ></canvas>
      <script>create_chartpie("q75",{{ lista_Aut[74] | safe}},"Questão 75")</script>
      <div id="comentario"> Sou capaz de  realizar diagnósticos e melhorias básicas.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q76" ></canvas>
      <script>create_chartpie("q76",{{ lista_Aut[75] | safe}},"Questão 76")</script>
      <div id="comentario"> Realizo a manutenção de robôs existentes da unidade.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q77" ></canvas>
      <script>create_chartpie("q77",{{ lista_Aut[76] | safe}},"Questão 77")</script>
      <div id="comentario"> Realizo a gestão de mudanças para automação.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q78" ></canvas>
      <script>create_chartpie("q78",{{ lista_Aut[77] | safe}},"Questão 78")</script>
      <div id="comentario"> Sou capaz de  implantação de gestão de mudanças.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q79" ></canvas>
      <script>create_chartpie("q79",{{ lista_Aut[78] | safe}},"Questão 79")</script>
      <div id="comentario"> Tenho conhecimento avançado de robótica.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q80" ></canvas>
      <script>create_chartpie("q80",{{ lista_Aut[79] | safe}},"Questão 80")</script>
      <div id="comentario"> Sou capaz de  otimizar a programação de robôs existentes na unidade.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q81" ></canvas>
      <script>create_chartpie("q81",{{ lista_Aut[80] | safe}},"Questão 81")</script>
      <div id="comentario"> Tenho conhecimentos em IIOT ( industrial internet of things).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q82" ></canvas>
      <script>create_chartpie("q82",{{ lista_Aut[81] | safe}},"Questão 82")</script>
      <div id="comentario"> Realizo a Calibração em IOT.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q83" ></canvas>
      <script>create_chartpie("q83",{{ lista_Aut[82] | safe}},"Questão 83")</script>
      <div id="comentario"> Realizo a gestão do bloco controle e automação (Pilar Manutenção).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q84" ></canvas>
      <script>create_chartpie("q84",{{ lista_Aut[83] | safe}},"Questão 84")</script>
      <div id="comentario"> Tenho conhecimento em Visão computacional: Produção.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q85" ></canvas>
      <script>create_chartpie("q85",{{ lista_Aut[84] | safe}},"Questão 85")</script>
      <div id="comentario"> Realizo aplicações práticas em IIOT ( industrial internet of things).</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q86" ></canvas>
      <script>create_chartpie("q86",{{ lista_Aut[85] | safe}},"Questão 86")</script>
      <div id="comentario"> Tenho conhecimento de Estatística e Lógica aplicados a Big Data.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q87" ></canvas>
      <script>create_chartpie("q87",{{ lista_Aut[86] | safe}},"Questão 87")</script>
      <div id="comentario"> Tenho conhecimento em Big data e Data Analytics.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q88" ></canvas>
      <script>create_chartpie("q88",{{ lista_Aut[87] | safe}},"Questão 88")</script>
      <div id="comentario"> Sou capaz de  realizar Modelagem de dados e Machine Learning.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q89" ></canvas>
      <script>create_chartpie("q89",{{ lista_Aut[88] | safe}},"Questão 89")</script>
      <div id="comentario"> Realizo gestão de Projetos com IA.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q90" ></canvas>
      <script>create_chartpie("q90",{{ lista_Aut[89] | safe}},"Questão 90")</script>
      <div id="comentario"> Tenho conhecimento básico de IA.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q91" ></canvas>
      <script>create_chartpie("q91",{{ lista_Aut[90] | safe}},"Questão 91")</script>
      <div id="comentario"> Consigo utilizar o sistema SAP.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q92" ></canvas>
      <script>create_chartpie("q92",{{ lista_Aut[91] | safe}},"Questão 92")</script>
      <div id="comentario"> Consigo utilizar o sistema SODA.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q93" ></canvas>
      <script>create_chartpie("q93",{{ lista_Aut[92] | safe}},"Questão 93")</script>
      <div id="comentario"> Consigo utilizar o Grafana.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q94" ></canvas>
      <script>create_chartpie("q94",{{ lista_Aut[93] | safe}},"Questão 94")</script>
      <div id="comentario"> Conheço o conceito e papel da operação para a segurança alimentar.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q95" ></canvas>
      <script>create_chartpie("q95",{{ lista_Aut[94] | safe}},"Questão 95")</script>
      <div id="comentario"> Conheço qual o conceito e qual o CCP na máquina e célula. Quais os registros.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q96" ></canvas>
      <script>create_chartpie("q96",{{ lista_Aut[95] | safe}},"Questão 96")</script>
      <div id="comentario"> Conheço as principais formas de se realizar boas práticas de produção.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q97" ></canvas>
      <script>create_chartpie("q97",{{ lista_Aut[96] | safe}},"Questão 97")</script>
      <div id="comentario"> Conheço o conceito, quais os Índices de controle de minha máquina e célula, e registro. Como são discutidos em reuniões do time.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q98" ></canvas>
      <script>create_chartpie("q98",{{ lista_Aut[97] | safe}},"Questão 98")</script>
      <div id="comentario"> Conheço o conceito de SAC, como ocorre e quais as ações de prevenção na operação.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q99" ></canvas>
      <script>create_chartpie("q99",{{ lista_Aut[98] | safe}},"Questão 99")</script>
      <div id="comentario"> Conheço os principais indicadores de qualidade de sua célula ou da linha.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q100" ></canvas>
      <script>create_chartpie("q100",{{ lista_Aut[99] | safe}},"Questão 100")</script>
      <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q101" ></canvas>
      <script>create_chartpie("q101",{{ lista_Aut[100] | safe}},"Questão 101")</script>
      <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q102" ></canvas>
      <script>create_chartpie("q102",{{ lista_Aut[101] | safe}},"Questão 102")</script>
      <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q103" ></canvas>
      <script>create_chartpie("q103",{{ lista_Aut[102] | safe}},"Questão 103")</script>
      <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q104" ></canvas>
      <script>create_chartpie("q104",{{ lista_Aut[103] | safe}},"Questão 104")</script>
      <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q105" ></canvas>
      <script>create_chartpie("q105",{{ lista_Aut[104] | safe}},"Questão 105")</script>
      <div id="comentario"> Conheço como realizar esta análise de forma que se remeta a segurança plena numa atividade, importância da FISPQ no manuseio de produtos químicos e como utilizar adequadamente.</div>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q106" ></canvas>
      <script>create_chartpie("q106",{{ lista_Aut[105] | safe}},"Questão 106")</script>
      <div id="comentario"> Conheço Conceito e quais os principais EPIs utilizados na operação do equipamento e na célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q107" ></canvas>
      <script>create_chartpie("q107",{{ lista_Aut[106] | safe}},"Questão 107")</script>
      <div id="comentario"> Conheço quais são as  seis regras de outro da Cia e o que significa cada regra. Qual o papel do operador em sua célula para garantir o cumprimento de cada requisito obrigatório.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q108" ></canvas>
      <script>create_chartpie("q108",{{ lista_Aut[107] | safe}},"Questão 108")</script>
      <div id="comentario"> Conheço quais os conceitos de lockout, tagout e testout, qual o procedimento de utilização destas ferramentas e em que atividades utilizar o LOTOTO. Conceito de SAM e cuidados ao acessar maquinas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q109" ></canvas>
      <script>create_chartpie("q109",{{ lista_Aut[108] | safe}},"Questão 109")</script>
      <div id="comentario"> Conheço o tipos de PTs que usamos na Cia, e em que tipos de atividades são utilizadas, quais os profissionais envolvidos para a avaliação, preenchimento, aprovações e liberação dos serviços.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q110" ></canvas>
      <script>create_chartpie("q110",{{ lista_Aut[109] | safe}},"Questão 110")</script>
      <div id="comentario"> Conheço quais o principais indicadores de segurança da célula, da linha, da área e da unidade.</div>
    </div>
  </div>
  <br/>
  
