<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q1" ></canvas>
      <script>create_chartpie("q1",{{ q1 | safe}},"Q1")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q2" ></canvas>
      <script>create_chartpie("q2",{{ q2 | safe}},"Q2")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q3" ></canvas>
      <script>create_chartpie("q3",{{ q3 | safe}},"Q3")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q4" ></canvas>
      <script>create_chartpie("q4",{{ q4 | safe}},"Q4")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q5" ></canvas>
      <script>create_chartpie("q5",{{ q5 | safe}},"Q5")</script>
    </div>
</div>
<br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q6" ></canvas>
      <script>create_chartpie("q6",{{ q6 | safe}},"Q6")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q7" ></canvas>
      <script>create_chartpie("q7",{{ q7 | safe}},"Q7")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q8" ></canvas>
      <script>create_chartpie("q8",{{ q8 | safe}},"Q8")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q9" ></canvas>
      <script>create_chartpie("q9",{{ q9 | safe}},"Q9")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q10" ></canvas>
      <script>create_chartpie("q10",{{ q10 | safe}},"Q10")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q11" ></canvas>
      <script>create_chartpie("q11",{{ q11 | safe}},"Q11")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q12" ></canvas>
      <script>create_chartpie("q12",{{ q12 | safe}},"Q12")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q13" ></canvas>
      <script>create_chartpie("q13",{{ q13 | safe}},"Q13")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q14" ></canvas>
      <script>create_chartpie("q14",{{ q14 | safe}},"Q14")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q15" ></canvas>
      <script>create_chartpie("q15",{{ q15 | safe}},"Q15")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q16" ></canvas>
      <script>create_chartpie("q16",{{ q16 | safe}},"Q16")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q17" ></canvas>
      <script>create_chartpie("q17",{{ q17 | safe}},"Q17")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q18" ></canvas>
      <script>create_chartpie("q18",{{ q18 | safe}},"Q18")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q19" ></canvas>
      <script>create_chartpie("q19",{{ q19 | safe}},"Q19")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q20" ></canvas>
      <script>create_chartpie("q20",{{ q20 | safe}},"Q20")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q21" ></canvas>
      <script>create_chartpie("q21",{{ q21 | safe}},"Q21")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q22" ></canvas>
      <script>create_chartpie("q22",{{ q22 | safe}},"Q22")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q23" ></canvas>
      <script>create_chartpie("q23",{{ q23 | safe}},"Q23")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q24" ></canvas>
      <script>create_chartpie("q24",{{ q24 | safe}},"Q24")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q25" ></canvas>
      <script>create_chartpie("q25",{{ q25 | safe}},"Q25")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q26" ></canvas>
      <script>create_chartpie("q26",{{ q26 | safe}},"Q26")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q27" ></canvas>
      <script>create_chartpie("q27",{{ q27 | safe}},"Q27")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q28" ></canvas>
      <script>create_chartpie("q28",{{ q28 | safe}},"Q28")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q29" ></canvas>
      <script>create_chartpie("q29",{{ q29 | safe}},"Q29")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q30" ></canvas>
      <script>create_chartpie("q30",{{ q30 | safe}},"Q30")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q31" ></canvas>
      <script>create_chartpie("q31",{{ q31 | safe}},"Q31")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q32" ></canvas>
      <script>create_chartpie("q32",{{ q32 | safe}},"Q32")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q33" ></canvas>
      <script>create_chartpie("q33",{{ q33 | safe}},"Q33")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q34" ></canvas>
      <script>create_chartpie("q34",{{ q34 | safe}},"Q34")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q35" ></canvas>
      <script>create_chartpie("q35",{{ q35 | safe}},"Q35")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q36" ></canvas>
      <script>create_chartpie("q36",{{ q36 | safe}},"Q36")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q37" ></canvas>
      <script>create_chartpie("q37",{{ q37 | safe}},"Q37")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q38" ></canvas>
      <script>create_chartpie("q38",{{ q38 | safe}},"Q38")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q39" ></canvas>
      <script>create_chartpie("q39",{{ q39 | safe}},"Q39")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q40" ></canvas>
      <script>create_chartpie("q40",{{ q40 | safe}},"Q40")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q41" ></canvas>
      <script>create_chartpie("q41",{{ q41 | safe}},"Q41")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q42" ></canvas>
      <script>create_chartpie("q42",{{ q42 | safe}},"Q42")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q43" ></canvas>
      <script>create_chartpie("q43",{{ q43 | safe}},"Q43")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q44" ></canvas>
      <script>create_chartpie("q44",{{ q44 | safe}},"Q44")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q45" ></canvas>
      <script>create_chartpie("q45",{{ q45 | safe}},"Q45")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q46" ></canvas>
      <script>create_chartpie("q46",{{ q46 | safe}},"Q46")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q47" ></canvas>
      <script>create_chartpie("q47",{{ q47 | safe}},"Q47")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q48" ></canvas>
      <script>create_chartpie("q48",{{ q48 | safe}},"Q48")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q49" ></canvas>
      <script>create_chartpie("q49",{{ q49 | safe}},"Q49")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q50" ></canvas>
      <script>create_chartpie("q50",{{ q50 | safe}},"Q50")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q51" ></canvas>
      <script>create_chartpie("q51",{{ q51 | safe}},"Q51")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q52" ></canvas>
      <script>create_chartpie("q52",{{ q52 | safe}},"Q52")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q53" ></canvas>
      <script>create_chartpie("q53",{{ q53 | safe}},"Q53")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q54" ></canvas>
      <script>create_chartpie("q54",{{ q54 | safe}},"Q54")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q55" ></canvas>
      <script>create_chartpie("q55",{{ q55 | safe}},"Q55")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q56" ></canvas>
      <script>create_chartpie("q56",{{ q56 | safe}},"Q56")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q57" ></canvas>
      <script>create_chartpie("q57",{{ q57 | safe}},"Q57")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q58" ></canvas>
      <script>create_chartpie("q58",{{ q58 | safe}},"Q58")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q59" ></canvas>
      <script>create_chartpie("q59",{{ q59 | safe}},"Q59")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q60" ></canvas>
      <script>create_chartpie("q60",{{ q60 | safe}},"Q60")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q61" ></canvas>
      <script>create_chartpie("q61",{{ q61 | safe}},"Q61")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q62" ></canvas>
      <script>create_chartpie("q62",{{ q62 | safe}},"Q62")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q63" ></canvas>
      <script>create_chartpie("q63",{{ q63 | safe}},"Q63")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q64" ></canvas>
      <script>create_chartpie("q64",{{ q64 | safe}},"Q64")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q65" ></canvas>
      <script>create_chartpie("q65",{{ q65 | safe}},"Q65")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q66" ></canvas>
      <script>create_chartpie("q66",{{ q66 | safe}},"Q66")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q67" ></canvas>
      <script>create_chartpie("q67",{{ q67 | safe}},"Q67")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q68" ></canvas>
      <script>create_chartpie("q68",{{ q68 | safe}},"Q68")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q69" ></canvas>
      <script>create_chartpie("q69",{{ q69 | safe}},"Q69")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q70" ></canvas>
      <script>create_chartpie("q70",{{ q70 | safe}},"Q70")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q71" ></canvas>
      <script>create_chartpie("q71",{{ q71 | safe}},"Q71")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q72" ></canvas>
      <script>create_chartpie("q72",{{ q72 | safe}},"Q72")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q73" ></canvas>
      <script>create_chartpie("q73",{{ q73 | safe}},"Q73")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q74" ></canvas>
      <script>create_chartpie("q74",{{ q74 | safe}},"Q74")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q75" ></canvas>
      <script>create_chartpie("q75",{{ q75 | safe}},"Q75")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q76" ></canvas>
      <script>create_chartpie("q76",{{ q76 | safe}},"Q76")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q77" ></canvas>
      <script>create_chartpie("q77",{{ q77 | safe}},"Q77")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q78" ></canvas>
      <script>create_chartpie("q78",{{ q78 | safe}},"Q78")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q79" ></canvas>
      <script>create_chartpie("q79",{{ q79 | safe}},"Q79")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q80" ></canvas>
      <script>create_chartpie("q80",{{ q80 | safe}},"Q80")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q81" ></canvas>
      <script>create_chartpie("q81",{{ q81 | safe}},"Q81")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q82" ></canvas>
      <script>create_chartpie("q82",{{ q82 | safe}},"Q82")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q83" ></canvas>
      <script>create_chartpie("q83",{{ q83 | safe}},"Q83")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q84" ></canvas>
      <script>create_chartpie("q84",{{ q84 | safe}},"Q84")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q85" ></canvas>
      <script>create_chartpie("q85",{{ q85 | safe}},"Q85")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q86" ></canvas>
      <script>create_chartpie("q86",{{ q86 | safe}},"Q86")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q87" ></canvas>
      <script>create_chartpie("q87",{{ q87 | safe}},"Q87")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q88" ></canvas>
      <script>create_chartpie("q88",{{ q88 | safe}},"Q88")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q89" ></canvas>
      <script>create_chartpie("q89",{{ q89 | safe}},"Q89")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q90" ></canvas>
      <script>create_chartpie("q90",{{ q90 | safe}},"Q90")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q91" ></canvas>
      <script>create_chartpie("q91",{{ q91 | safe}},"Q91")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q92" ></canvas>
      <script>create_chartpie("q92",{{ q92 | safe}},"Q92")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q93" ></canvas>
      <script>create_chartpie("q93",{{ q93 | safe}},"Q93")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q94" ></canvas>
      <script>create_chartpie("q94",{{ q94 | safe}},"Q94")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q95" ></canvas>
      <script>create_chartpie("q95",{{ q95 | safe}},"Q95")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q96" ></canvas>
      <script>create_chartpie("q96",{{ q96 | safe}},"Q96")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q97" ></canvas>
      <script>create_chartpie("q97",{{ q97 | safe}},"Q97")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q98" ></canvas>
      <script>create_chartpie("q98",{{ q98 | safe}},"Q98")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q99" ></canvas>
      <script>create_chartpie("q99",{{ q99 | safe}},"Q99")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q100" ></canvas>
      <script>create_chartpie("q100",{{ q100 | safe}},"Q100")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q101" ></canvas>
      <script>create_chartpie("q101",{{ q101 | safe}},"Q101")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q102" ></canvas>
      <script>create_chartpie("q102",{{ q102 | safe}},"Q102")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q103" ></canvas>
      <script>create_chartpie("q103",{{ q103 | safe}},"Q103")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q104" ></canvas>
      <script>create_chartpie("q104",{{ q104 | safe}},"Q104")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q105" ></canvas>
      <script>create_chartpie("q105",{{ q105 | safe}},"Q105")</script>
    </div>
  </div>
  <br/>
<div class="chart_group">
    <div class="chart_pie">
      <canvas id = "q106" ></canvas>
      <script>create_chartpie("q106",{{ q106 | safe}},"Q106")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q107" ></canvas>
      <script>create_chartpie("q107",{{ q107 | safe}},"Q107")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q108" ></canvas>
      <script>create_chartpie("q108",{{ q108 | safe}},"Q108")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q109" ></canvas>
      <script>create_chartpie("q109",{{ q109 | safe}},"Q109")</script>
    </div>
    <br/>
    <div class="chart_pie">
      <canvas id = "q110" ></canvas>
      <script>create_chartpie("q110",{{ q110 | safe}},"Q110")</script>
    </div>
  </div>
  <br/>
  
