
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q1" ></canvas>
    <script>create_chartpie("q1",{{ lista_Elet[0] | safe}},"Q1")</script>
    <div id="comentario"> Sei a diferença entre desgaste natural e forçado e consigo identificá-los e tratá-los dentro dos equipamentos que atua.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q2" ></canvas>
    <script>create_chartpie("q2",{{ lista_Elet[1] | safe}},"Q2")</script>
    <div id="comentario"> Sei executar atividades de manutenção preventivas mecânicas nos equipamentos que opera.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q3" ></canvas>
    <script>create_chartpie("q3",{{ lista_Elet[2] | safe}},"Q3")</script>
    <div id="comentario"> Conheço o plano de manutenção da sua área e consigo propor revisões e melhorias.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q4" ></canvas>
    <script>create_chartpie("q4",{{ lista_Elet[3] | safe}},"Q4")</script>
    <div id="comentario"> Conheço o conceito de Clean and Tag, quais suas etapas, como selecionar o equipamento foco e quais as saídas esperadas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q5" ></canvas>
    <script>create_chartpie("q5",{{ lista_Elet[4] | safe}},"Q5")</script>
    <div id="comentario"> Conheço as principais técnicas preditivas (análise de óleo, vibração, termografia, ultrassom...), Entendendo sua forma de medição e onde são realizadas na sua área.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q6" ></canvas>
    <script>create_chartpie("q6",{{ lista_Elet[5] | safe}},"Q6")</script>
    <div id="comentario"> Sou capaz de tratar a causa raiz de anomalias identificadas nas principais técnicas preditivas (análise de óleo, vibração, termografia, ultrassom...).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q7" ></canvas>
    <script>create_chartpie("q7",{{ lista_Elet[6] | safe}},"Q7")</script>
    <div id="comentario"> Conheço e Executo as ferramentas básicas de solução de problemas (5 PQs, relato de anomalia).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q8" ></canvas>
    <script>create_chartpie("q8",{{ lista_Elet[7] | safe}},"Q8")</script>
    <div id="comentario"> Conheço as principais causas de anomalias dos indicadores de.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q9" ></canvas>
    <script>create_chartpie("q9",{{ lista_Elet[8] | safe}},"Q9")</script>
    <div id="comentario"> Gero ações para tratativa para os problemas dentro do turno.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q10" ></canvas>
    <script>create_chartpie("q10",{{ lista_Elet[9] | safe}},"Q10")</script>
    <div id="comentario"> Direciono a operação na solução dos problemas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q11" ></canvas>
    <script>create_chartpie("q11",{{ lista_Elet[10] | safe}},"Q11")</script>
    <div id="comentario"> Conheço o sonho da área, principais Ivs e Entendo o seu papel na área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q12" ></canvas>
    <script>create_chartpie("q12",{{ lista_Elet[11] | safe}},"Q12")</script>
    <div id="comentario"> Entendo e sei explicar o cascateamento de Ivs (estratégia  reunião diária  troca de turno).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q13" ></canvas>
    <script>create_chartpie("q13",{{ lista_Elet[12] | safe}},"Q13")</script>
    <div id="comentario"> Conheço minha meta diária e gerencio o próprio resultado no dia a dia.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q14" ></canvas>
    <script>create_chartpie("q14",{{ lista_Elet[13] | safe}},"Q14")</script>
    <div id="comentario"> Treino demais funcionários nas ferramentas de gestão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q15" ></canvas>
    <script>create_chartpie("q15",{{ lista_Elet[14] | safe}},"Q15")</script>
    <div id="comentario"> Possuo conhecimento em 100% dos itens do plano de tráfego.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q16" ></canvas>
    <script>create_chartpie("q16",{{ lista_Elet[15] | safe}},"Q16")</script>
    <div id="comentario"> Possuo conhecimento dos padrões e procedimentos de atividades críticas (SWI).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q17" ></canvas>
    <script>create_chartpie("q17",{{ lista_Elet[16] | safe}},"Q17")</script>
    <div id="comentario"> Executo as tarefas de segurança (relato de incidente, abordagem, condição insegura.).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q18" ></canvas>
    <script>create_chartpie("q18",{{ lista_Elet[17] | safe}},"Q18")</script>
    <div id="comentario"> Conheço os últimos SIFs da área e principais saídas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q19" ></canvas>
    <script>create_chartpie("q19",{{ lista_Elet[18] | safe}},"Q19")</script>
    <div id="comentario"> Sei analisar os principais indicadores de produtividade relacionado a atividades críticas e sua correlação com segurança.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q20" ></canvas>
    <script>create_chartpie("q20",{{ lista_Elet[19] | safe}},"Q20")</script>
    <div id="comentario"> Busco melhoria continua nos processos e condições em prol de segurança.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q21" ></canvas>
    <script>create_chartpie("q21",{{ lista_Elet[20] | safe}},"Q21")</script>
    <div id="comentario"> Consigo identificar componentes elétricos em um esquema, Conheço comandos elétricos apresentados e a simbologia utilizada.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q22" ></canvas>
    <script>create_chartpie("q22",{{ lista_Elet[21] | safe}},"Q22")</script>
    <div id="comentario"> Conheço instrumentos de medição e grandezas elétricas e Consigo utilizá-lo na rotina para solução de problemas (Voltímetro, Ohmímetro, Amperímetro, Megômetro, Osciloscópio, Terrômetro, Câmera termográfica, Analisador de vibração, Analisador de energia).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q23" ></canvas>
    <script>create_chartpie("q23",{{ lista_Elet[22] | safe}},"Q23")</script>
    <div id="comentario"> Consigo fazer a organização de um painel de acordo com o padrão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q24" ></canvas>
    <script>create_chartpie("q24",{{ lista_Elet[23] | safe}},"Q24")</script>
    <div id="comentario"> Consigo fazer a montagem de um painel de acordo com o padrão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q25" ></canvas>
    <script>create_chartpie("q25",{{ lista_Elet[24] | safe}},"Q25")</script>
    <div id="comentario"> Executo uma inspeção preventiva de painel.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q26" ></canvas>
    <script>create_chartpie("q26",{{ lista_Elet[25] | safe}},"Q26")</script>
    <div id="comentario"> Sei como é o funcionamento de um motor elétrico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q27" ></canvas>
    <script>create_chartpie("q27",{{ lista_Elet[26] | safe}},"Q27")</script>
    <div id="comentario"> Sei quais são e como identificar os tipos de motores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q28" ></canvas>
    <script>create_chartpie("q28",{{ lista_Elet[27] | safe}},"Q28")</script>
    <div id="comentario"> Sei como funciona o sistema de megagem de um motor e como Executor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q29" ></canvas>
    <script>create_chartpie("q29",{{ lista_Elet[28] | safe}},"Q29")</script>
    <div id="comentario"> Sei fazer a montagem e a desmontagem de motores elétricos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q30" ></canvas>
    <script>create_chartpie("q30",{{ lista_Elet[29] | safe}},"Q30")</script>
    <div id="comentario"> Conheço o processo de fechamento de motores elétricos.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q31" ></canvas>
    <script>create_chartpie("q31",{{ lista_Elet[30] | safe}},"Q31")</script>
    <div id="comentario"> Conheço o funcio namento de um sistema de freio, quais são os tipos e como reparar.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q32" ></canvas>
    <script>create_chartpie("q32",{{ lista_Elet[31] | safe}},"Q32")</script>
    <div id="comentario"> Conheço o conceito de inspeção qualitativa (com métrica) e Consigo realizá-las de forma a levantar anomalias, abrindo ordens assim que as encontra.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q33" ></canvas>
    <script>create_chartpie("q33",{{ lista_Elet[32] | safe}},"Q33")</script>
    <div id="comentario"> Sei o que são e como funcionam disjuntores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q34" ></canvas>
    <script>create_chartpie("q34",{{ lista_Elet[33] | safe}},"Q34")</script>
    <div id="comentario"> Sei calcular o coeficiente de disparo de um disjuntor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q35" ></canvas>
    <script>create_chartpie("q35",{{ lista_Elet[34] | safe}},"Q35")</script>
    <div id="comentario"> Sei o que são e como funcionam fusíveis.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q36" ></canvas>
    <script>create_chartpie("q36",{{ lista_Elet[35] | safe}},"Q36")</script>
    <div id="comentario"> Sei como funciona e como dimensionar relés de proteção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q37" ></canvas>
    <script>create_chartpie("q37",{{ lista_Elet[36] | safe}},"Q37")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores fotoelétricos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q38" ></canvas>
    <script>create_chartpie("q38",{{ lista_Elet[37] | safe}},"Q38")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores indutivos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q39" ></canvas>
    <script>create_chartpie("q39",{{ lista_Elet[38] | safe}},"Q39")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores capacitivos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q40" ></canvas>
    <script>create_chartpie("q40",{{ lista_Elet[39] | safe}},"Q40")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores ultrassônicos.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q41" ></canvas>
    <script>create_chartpie("q41",{{ lista_Elet[40] | safe}},"Q41")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores de fibra ótica.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q42" ></canvas>
    <script>create_chartpie("q42",{{ lista_Elet[41] | safe}},"Q42")</script>
    <div id="comentario"> Conheço os tipos de encoders (incremental, absoluto e multicanal), como funcionam e principais aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q43" ></canvas>
    <script>create_chartpie("q43",{{ lista_Elet[42] | safe}},"Q43")</script>
    <div id="comentario"> Conheço os princípios de funcio namentos de inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q44" ></canvas>
    <script>create_chartpie("q44",{{ lista_Elet[43] | safe}},"Q44")</script>
    <div id="comentario"> Sei fazer o dimensio namento de inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q45" ></canvas>
    <script>create_chartpie("q45",{{ lista_Elet[44] | safe}},"Q45")</script>
    <div id="comentario"> Sei fazer ajustes em inversores de frequência e soft starters.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q46" ></canvas>
    <script>create_chartpie("q46",{{ lista_Elet[45] | safe}},"Q46")</script>
    <div id="comentario"> Sei fazer ligações com inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q47" ></canvas>
    <script>create_chartpie("q47",{{ lista_Elet[46] | safe}},"Q47")</script>
    <div id="comentario"> Sei identificar e calibrar instrumentos básicos (PI, PT100, PT1000, Condutivímetros, sondas, conversores, oxímetros, fluxostatos, pressostatos, transmissores de pressão, transmissores de nível e transmissores de temperatura).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q48" ></canvas>
    <script>create_chartpie("q48",{{ lista_Elet[47] | safe}},"Q48")</script>
    <div id="comentario"> Sei identificar e calibrar instrumentos complexos (Válvulas moduladoras, válvulas on-off, posicionadores, atuadores).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q49" ></canvas>
    <script>create_chartpie("q49",{{ lista_Elet[48] | safe}},"Q49")</script>
    <div id="comentario"> Conheço o funcio namento, os tipos e aplicações de servomotoresa.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q50" ></canvas>
    <script>create_chartpie("q50",{{ lista_Elet[49] | safe}},"Q50")</script>
    <div id="comentario"> Conheço o funcio namento e manutenção dos principais drives, bem como os tipos de aplicações.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q51" ></canvas>
    <script>create_chartpie("q51",{{ lista_Elet[50] | safe}},"Q51")</script>
    <div id="comentario"> Sei reparar servomotores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q52" ></canvas>
    <script>create_chartpie("q52",{{ lista_Elet[51] | safe}},"Q52")</script>
    <div id="comentario"> Sei fazer o referenciamento de servomotores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q53" ></canvas>
    <script>create_chartpie("q53",{{ lista_Elet[52] | safe}},"Q53")</script>
    <div id="comentario"> Possuo certificação SEP.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q54" ></canvas>
    <script>create_chartpie("q54",{{ lista_Elet[53] | safe}},"Q54")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de disjuntores de alta e média.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q55" ></canvas>
    <script>create_chartpie("q55",{{ lista_Elet[54] | safe}},"Q55")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de chaves seccionadoras de alta e média.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q56" ></canvas>
    <script>create_chartpie("q56",{{ lista_Elet[55] | safe}},"Q56")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de relés de proteção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q57" ></canvas>
    <script>create_chartpie("q57",{{ lista_Elet[56] | safe}},"Q57")</script>
    <div id="comentario"> Conheço os principais tipos de manobra em subestações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q58" ></canvas>
    <script>create_chartpie("q58",{{ lista_Elet[57] | safe}},"Q58")</script>
    <div id="comentario"> Conheço procedimentos de aterramento.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q59" ></canvas>
    <script>create_chartpie("q59",{{ lista_Elet[58] | safe}},"Q59")</script>
    <div id="comentario"> Conheço tipos, funcionamento de transformadores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q60" ></canvas>
    <script>create_chartpie("q60",{{ lista_Elet[59] | safe}},"Q60")</script>
    <div id="comentario"> Conheço portas lógicas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q61" ></canvas>
    <script>create_chartpie("q61",{{ lista_Elet[60] | safe}},"Q61")</script>
    <div id="comentario"> Conheço os tipos de CLP.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q62" ></canvas>
    <script>create_chartpie("q62",{{ lista_Elet[61] | safe}},"Q62")</script>
    <div id="comentario"> Sei identificar entradas e saídas (cartões).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">6
    <canvas id = "q63" ></canvas>
    <script>create_chartpie("q63",{{ lista_Elet[62] | safe}},"Q63")</script>
    <div id="comentario"> Sei fazer leitura em ladder.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q64" ></canvas>
    <script>create_chartpie("q64",{{ lista_Elet[63] | safe}},"Q64")</script>
    <div id="comentario"> Conheço básico de redes de comunicação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q65" ></canvas>
    <script>create_chartpie("q65",{{ lista_Elet[64] | safe}},"Q65")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes profibus.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q66" ></canvas>
    <script>create_chartpie("q66",{{ lista_Elet[65] | safe}},"Q66")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes ethernet.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q67" ></canvas>
    <script>create_chartpie("q67",{{ lista_Elet[66] | safe}},"Q67")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes supervisório.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q68" ></canvas>
    <script>create_chartpie("q68",{{ lista_Elet[67] | safe}},"Q68")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes IoT.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q69" ></canvas>
    <script>create_chartpie("q69",{{ lista_Elet[68] | safe}},"Q69")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes DeviceNet.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q70" ></canvas>
    <script>create_chartpie("q70",{{ lista_Elet[69] | safe}},"Q70")</script>
    <div id="comentario"> Conheço os conceitos de RCM e FMEA, sendo capaz de propor ações para mitigar desgastes naturais e forçados.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q71" ></canvas>
    <script>create_chartpie("q71",{{ lista_Elet[70] | safe}},"Q71")</script>
    <div id="comentario"> Conheço e Consigo propor sugestões de implementações de tecnologias e ferramentas de indústria 4.0 para melhoria na produtividade da área, além de simplificar e automatizar processos e rotinas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q72" ></canvas>
    <script>create_chartpie("q72",{{ lista_Elet[71] | safe}},"Q72")</script>
    <div id="comentario"> Conheço o conceito de engenharia de materiais,  principais tipos de materiais, suas propriedades (dureza, flexibilidade, degradabilidade, etc.) e aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q73" ></canvas>
    <script>create_chartpie("q73",{{ lista_Elet[72] | safe}},"Q73")</script>
    <div id="comentario"> Sei utilizar as transações de SAP que afetam sua rotina (manutenção, qualidade, custo).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q74" ></canvas>
    <script>create_chartpie("q74",{{ lista_Elet[73] | safe}},"Q74")</script>
    <div id="comentario"> Conheço o básico de Excel (fórmulas simples + criação de planilhas de acompanhamento).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q75" ></canvas>
    <script>create_chartpie("q75",{{ lista_Elet[74] | safe}},"Q75")</script>
    <div id="comentario"> Conhecimento de ferramentas de aprendizado como Acadia e Degreed.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q76" ></canvas>
    <script>create_chartpie("q76",{{ lista_Elet[75] | safe}},"Q76")</script>
    <div id="comentario"> Conheço o intermediário de Excel (fórmulas complexas, tabela dinâmica, análises, gráficos).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q77" ></canvas>
    <script>create_chartpie("q77",{{ lista_Elet[76] | safe}},"Q77")</script>
    <div id="comentario"> Conheço o avançado de Excel (fórmulas complexas, macros).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q78" ></canvas>
    <script>create_chartpie("q78",{{ lista_Elet[77] | safe}},"Q78")</script>
    <div id="comentario"> Sei utilizar e criar dashboards com ferramentas de visualização com Power BI e Grafana.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q79" ></canvas>
    <script>create_chartpie("q79",{{ lista_Elet[78] | safe}},"Q79")</script>
    <div id="comentario"> Sei fazer um 5PQs, identificando efeitos e causas raízes, e classificando as mesmas nos 6Ms (máquina, material, mão-de-obra, método, medição e meio ambiente).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q80" ></canvas>
    <script>create_chartpie("q80",{{ lista_Elet[79] | safe}},"Q80")</script>
    <div id="comentario"> Sei utilizar ferramentas avançadas de gestão (GAPA, Relato de anomalia) para solucionar problemas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q81" ></canvas>
    <script>create_chartpie("q81",{{ lista_Elet[80] | safe}},"Q81")</script>
    <div id="comentario"> Sou apto a treinar seus colegas nas ferramentas de gestão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q82" ></canvas>
    <script>create_chartpie("q82",{{ lista_Elet[81] | safe}},"Q82")</script>
    <div id="comentario"> Consigo utilizar ferramentas como Power BI, grafana e Excel para análise de dados.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q83" ></canvas>
    <script>create_chartpie("q83",{{ lista_Elet[82] | safe}},"Q83")</script>
    <div id="comentario"> Conheço o sonho da área, principais IVs e Entendo o seu papel na área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q84" ></canvas>
    <script>create_chartpie("q84",{{ lista_Elet[83] | safe}},"Q84")</script>
    <div id="comentario"> Entendo e Sei explicar o cascateamento de IVs (estratégia  reunião diária  semanal).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q85" ></canvas>
    <script>create_chartpie("q85",{{ lista_Elet[84] | safe}},"Q85")</script>
    <div id="comentario"> Sei passar os principais impactos nos indicadores durante a produtividade da área.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q86" ></canvas>
    <script>create_chartpie("q86",{{ lista_Elet[85] | safe}},"Q86")</script>
    <div id="comentario"> Sei gerar e consultar todos indicadores que controla.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q87" ></canvas>
    <script>create_chartpie("q87",{{ lista_Elet[86] | safe}},"Q87")</script>
    <div id="comentario"> Conheço sua meta diária e gerencia o próprio resultado no dia a dia.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q88" ></canvas>
    <script>create_chartpie("q88",{{ lista_Elet[87] | safe}},"Q88")</script>
    <div id="comentario"> Participo da estratégia de definição de IVS foco da área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q89" ></canvas>
    <script>create_chartpie("q89",{{ lista_Elet[88] | safe}},"Q89")</script>
    <div id="comentario"> Conheço e acessa os sistemas básicos de rotina e apps de segurança.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q90" ></canvas>
    <script>create_chartpie("q90",{{ lista_Elet[89] | safe}},"Q90")</script>
    <div id="comentario"> Noções Básicas de SAP (Local de inst., lista técnica, código SAP, estoque, ordem de serviço).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q91" ></canvas>
    <script>create_chartpie("q91",{{ lista_Elet[90] | safe}},"Q91")</script>
    <div id="comentario"> Consigo consultar a especificação de peças e materiais no sistema.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q92" ></canvas>
    <script>create_chartpie("q92",{{ lista_Elet[91] | safe}},"Q92")</script>
    <div id="comentario"> Conheço e utiliza o site MySemeq.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q93" ></canvas>
    <script>create_chartpie("q93",{{ lista_Elet[92] | safe}},"Q93")</script>
    <div id="comentario"> Conheço e utiliza Preditiva Online.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q94" ></canvas>
    <script>create_chartpie("q94",{{ lista_Elet[93] | safe}},"Q94")</script>
    <div id="comentario"> Utilizo as ferramentas e sistemas relacionados a Tecnologias  CNC, 3D, elementos finitos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q95" ></canvas>
    <script>create_chartpie("q95",{{ lista_Elet[94] | safe}},"Q95")</script>
    <div id="comentario"> Conheço e utilizo a plataforma de compras rápidas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q96" ></canvas>
    <script>create_chartpie("q96",{{ lista_Elet[95] | safe}},"Q96")</script>
    <div id="comentario"> Conheço o conceito e papel da operação para a segurança alimentar.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q97" ></canvas>
    <script>create_chartpie("q97",{{ lista_Elet[96] | safe}},"Q97")</script>
    <div id="comentario"> Conheço quais as principais formas de se realizar boas práticas de produção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q98" ></canvas>
    <script>create_chartpie("q98",{{ lista_Elet[97] | safe}},"Q98")</script>
    <div id="comentario"> Conheço qual o conceito e qual o CCP na máquina e célula. Quais os registros.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q99" ></canvas>
    <script>create_chartpie("q99",{{ lista_Elet[98] | safe}},"Q99")</script>
    <div id="comentario"> Conheço o conceito, quais os Índices de controle de minha máquina e célula, e registro. Como são discutidos em reuniões do time.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q100" ></canvas>
    <script>create_chartpie("q100",{{ lista_Elet[99] | safe}},"Q100")</script>
    <div id="comentario"> Conheço o Conceito de SAC, como ocorre e quais as ações de prevenção na operação.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q101" ></canvas>
    <script>create_chartpie("q101",{{ lista_Elet[100] | safe}},"Q101")</script>
    <div id="comentario"> Conheço o quais os principais indicadores de qualidade de sua célula ou da linha.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q102" ></canvas>
    <script>create_chartpie("q102",{{ lista_Elet[101] | safe}},"Q102")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q103" ></canvas>
    <script>create_chartpie("q103",{{ lista_Elet[102] | safe}},"Q103")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q104" ></canvas>
    <script>create_chartpie("q104",{{ lista_Elet[103] | safe}},"Q104")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q105" ></canvas>
    <script>create_chartpie("q105",{{ lista_Elet[104] | safe}},"Q105")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q106" ></canvas>
    <script>create_chartpie("q106",{{ lista_Elet[105] | safe}},"Q106")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q107" ></canvas>
    <script>create_chartpie("q107",{{ lista_Elet[106] | safe}},"Q107")</script>
    <div id="comentario"> Conheço como realizar esta análise de forma que se remeta a segurança plena numa atividade, importância da FISPQ no manuseio de produtos químicos e como utilizar adequadamente.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q108" ></canvas>
    <script>create_chartpie("q108",{{ lista_Elet[107] | safe}},"Q108")</script>
    <div id="comentario"> Conheço Conceito e quais os principais EPIs utilizados na operação do equipamento e na célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q109" ></canvas>
    <script>create_chartpie("q109",{{ lista_Elet[108] | safe}},"Q109")</script>
    <div id="comentario"> Conheço quais são as  seis regras de outro da Cia e o que significa cada regra. Qual o papel do operador em sua célula para garantir o cumprimento de cada requisito obrigatório.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q110" ></canvas>
    <script>create_chartpie("q110",{{ lista_Elet[109] | safe}},"Q110")</script>
    <div id="comentario"> Conheço quais os conceitos de lockout, tagout e testout, qual o procedimento de utilização destas ferramentas e em que atividades utilizar o LOTOTO. Conceito de SAM e cuidados ao acessar maquinas.</div>
  </div>
  <br/>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q111" ></canvas>
    <script>create_chartpie("q111",{{ lista_Elet[110] | safe}},"Q111")</script>
    <div id="comentario"> Conheço qual o registro da investigação de segurança, quem participa e quais as etapas de investigação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q112" ></canvas>
    <script>create_chartpie("q112",{{ lista_Elet[111] | safe}},"Q112")</script>
    <div id="comentario"> Conheço qual as classificações da Curva de Bradley de acidentes e ou célula. Como está a pirâmide da linha da área.</div>
  </div>
</div>
<br/>

