
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q1" ></canvas>
    <script>create_chartpie("q1",{{ lista_Elemec[0] | safe}},"Q1")</script>
    <div id="comentario"> Conheço desenho técnico e consegue utilizá-lo na rotina para solução de problemas, sendo a apto a fazê-los, lê-los e reconheço os tipos de perspectivas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q2" ></canvas>
    <script>create_chartpie("q2",{{ lista_Elemec[1] | safe}},"Q2")</script>
    <div id="comentario"> Conheço instrumentos de medição e grandezas mecânicas e consegue utilizá-lo na rotina para solução de problemas (Paquímetro, Pirômetro, Câmera termográfica, Relógio comparador, Conversão de unidades de medida).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q3" ></canvas>
    <script>create_chartpie("q3",{{ lista_Elemec[2] | safe}},"Q3")</script>
    <div id="comentario"> Sei avaliar o diferencial de pressão e estanqueidade de válvulas borboletas</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q4" ></canvas>
    <script>create_chartpie("q4",{{ lista_Elemec[3] | safe}},"Q4")</script>
    <div id="comentario"> Sei fazer o alinhamento de válvulas borboletas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q5" ></canvas>
    <script>create_chartpie("q5",{{ lista_Elemec[4] | safe}},"Q5")</script>
    <div id="comentario"> Conheço os sistemas de vedação de uma válvula borboleta (estrutura e composições).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q6" ></canvas>
    <script>create_chartpie("q6",{{ lista_Elemec[5] | safe}},"Q6")</script>
    <div id="comentario"> Sei fazer o reparo de válvulas borboletas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q7" ></canvas>
    <script>create_chartpie("q7",{{ lista_Elemec[6] | safe}},"Q7")</script>
    <div id="comentario"> Conheço instrumentos de elevação (NR11) e consigo utilizá-los de forma segura na sua rotina (macaco hidráulico, talha manual, cintas de elevação, guincho hidráulico, paleteira manual, paleteira elétrica).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q8" ></canvas>
    <script>create_chartpie("q8",{{ lista_Elemec[7] | safe}},"Q8")</script>
    <div id="comentario"> Conheço o funcionamento de sistemas pneumáticos sendo apto a fazer manutenções nos mesmos, identificando causas raízes de problemas e traçando ações corretivas e preventivas para alavancar a performance desse sistema.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q9" ></canvas>
    <script>create_chartpie("q9",{{ lista_Elemec[8] | safe}},"Q9")</script>
    <div id="comentario"> Conheço o funcionamento de sistemas pneumáticos sendo apto a fazer manutenções nos mesmos, identificando causas raízes de problemas e traçando ações corretivas e preventivas para alavancar a performance desse sistema.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q10" ></canvas>
    <script>create_chartpie("q10",{{ lista_Elemec[9] | safe}},"Q10")</script>
    <div id="comentario"> Conheço o funcionamento de sistemas pneumáticos sendo apto a fazer manutenções nos mesmos, identificando causas raízes de problemas e traçando ações corretivas e preventivas para alavancar a performance desse sistema.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q11" ></canvas>
    <script>create_chartpie("q11",{{ lista_Elemec[10] | safe}},"Q11")</script>
    <div id="comentario"> Conheço o conceito de inspeção qualitativa (com métrica) e consegue realizá-las de forma a levantar anomalias, abrindo ordens assim que as encontra.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q12" ></canvas>
    <script>create_chartpie("q12",{{ lista_Elemec[11] | safe}},"Q12")</script>
    <div id="comentario"> Conheço o funcionamento dos principais tipos de bombas (deslocamento positivo, centrífugas e pneumáticas).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q13" ></canvas>
    <script>create_chartpie("q13",{{ lista_Elemec[12] | safe}},"Q13")</script>
    <div id="comentario"> Sei identificar tipos de componentes e materiais de troca para manutenções em bombas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q14" ></canvas>
    <script>create_chartpie("q14",{{ lista_Elemec[13] | safe}},"Q14")</script>
    <div id="comentario"> Sei avaliar compatibilidades de materiais para fabricação/ utilização em peças.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q15" ></canvas>
    <script>create_chartpie("q15",{{ lista_Elemec[14] | safe}},"Q15")</script>
    <div id="comentario"> Sei identificar vazamentos e fazer o reparo.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q16" ></canvas>
    <script>create_chartpie("q16",{{ lista_Elemec[15] | safe}},"Q16")</script>
    <div id="comentario"> Sei fazer alinhamento com alinhador a laser.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q17" ></canvas>
    <script>create_chartpie("q17",{{ lista_Elemec[16] | safe}},"Q17")</script>
    <div id="comentario"> Conheço os tipos e aplicações de vedações de válvulas dupla sede.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q18" ></canvas>
    <script>create_chartpie("q18",{{ lista_Elemec[17] | safe}},"Q18")</script>
    <div id="comentario"> Conheço os tipos e aplicações de graxa de válvulas dupla sede.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q19" ></canvas>
    <script>create_chartpie("q19",{{ lista_Elemec[18] | safe}},"Q19")</script>
    <div id="comentario"> Sei regular a altura e lift de válvulas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q20" ></canvas>
    <script>create_chartpie("q20",{{ lista_Elemec[19] | safe}},"Q20")</script>
    <div id="comentario"> Sei fazer a abertura e fechamento de caixas redutoras.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q21" ></canvas>
    <script>create_chartpie("q21",{{ lista_Elemec[20] | safe}},"Q21")</script>
    <div id="comentario"> Consegue identificar os componentes de caixas redutoras.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q22" ></canvas>
    <script>create_chartpie("q22",{{ lista_Elemec[21] | safe}},"Q22")</script>
    <div id="comentario"> Conheço os tipos e aplicações de graxa em caixas redutoras.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q23" ></canvas>
    <script>create_chartpie("q23",{{ lista_Elemec[22] | safe}},"Q23")</script>
    <div id="comentario"> Sei fazer a troca de componentes de caixas redutoras.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q24" ></canvas>
    <script>create_chartpie("q24",{{ lista_Elemec[23] | safe}},"Q24")</script>
    <div id="comentario"> Identifica e Conheço os tipos e aplicações de rolamentos e mancais.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q25" ></canvas>
    <script>create_chartpie("q25",{{ lista_Elemec[24] | safe}},"Q25")</script>
    <div id="comentario"> Sei fazer a lubrificação de rolamentos e mancais.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q26" ></canvas>
    <script>create_chartpie("q26",{{ lista_Elemec[25] | safe}},"Q26")</script>
    <div id="comentario"> Sei identificar tolerâncias de montagem de rolamentos e mancais.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q27" ></canvas>
    <script>create_chartpie("q27",{{ lista_Elemec[26] | safe}},"Q27")</script>
    <div id="comentario"> Consigo identificar desgastes naturais e forçados em rolamentos e mancais.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q28" ></canvas>
    <script>create_chartpie("q28",{{ lista_Elemec[27] | safe}},"Q28")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicação de correias, polias, engrenagens.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q29" ></canvas>
    <script>create_chartpie("q29",{{ lista_Elemec[28] | safe}},"Q29")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicação de esteiras e transportes.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q30" ></canvas>
    <script>create_chartpie("q30",{{ lista_Elemec[29] | safe}},"Q30")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicação de colunas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q31" ></canvas>
    <script>create_chartpie("q31",{{ lista_Elemec[30] | safe}},"Q31")</script>
    <div id="comentario"> Sei como fazer a lubrificação de sistemas de transmissão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q32" ></canvas>
    <script>create_chartpie("q32",{{ lista_Elemec[31] | safe}},"Q32")</script>
    <div id="comentario"> Conheço os tipos de trocador (placa, casco tubo, etc.) e seus princípios de funcionamento.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q33" ></canvas>
    <script>create_chartpie("q33",{{ lista_Elemec[32] | safe}},"Q33")</script>
    <div id="comentario"> Sei fazer ensaios com líquido penetrante em trocadores a placa.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q34" ></canvas>
    <script>create_chartpie("q34",{{ lista_Elemec[33] | safe}},"Q34")</script>
    <div id="comentario"> Sei fazer a regulagem de sistemas de refrigeração (amônia) em trocadores a placa.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q35" ></canvas>
    <script>create_chartpie("q35",{{ lista_Elemec[34] | safe}},"Q35")</script>
    <div id="comentario"> Sei fazer a substituição de juntas e gaxetas de trocadores.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q36" ></canvas>
    <script>create_chartpie("q36",{{ lista_Elemec[35] | safe}},"Q36")</script>
    <div id="comentario"> Consegue identificar a contaminação em placas (teste hidrostático).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q37" ></canvas>
    <script>create_chartpie("q37",{{ lista_Elemec[36] | safe}},"Q37")</script>
    <div id="comentario"> Sei fazer a limpeza de trocadores casco tubo.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q38" ></canvas>
    <script>create_chartpie("q38",{{ lista_Elemec[37] | safe}},"Q38")</script>
    <div id="comentario"> Sei fazer cálculo de eficiência de troca térmica.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q39" ></canvas>
    <script>create_chartpie("q39",{{ lista_Elemec[38] | safe}},"Q39")</script>
    <div id="comentario"> Conheço os tipos de eletrodo e Sei identificar os materiais de aplicação de cada tipo de solda.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q40" ></canvas>
    <script>create_chartpie("q40",{{ lista_Elemec[39] | safe}},"Q40")</script>
    <div id="comentario"> Sei fazer o posicionamento de solda e Conheço as distâncias para soldagem.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q41" ></canvas>
    <script>create_chartpie("q41",{{ lista_Elemec[40] | safe}},"Q41")</script>
    <div id="comentario"> Sei as durezas de aplicação de cada tipo de solda.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q42" ></canvas>
    <script>create_chartpie("q42",{{ lista_Elemec[41] | safe}},"Q42")</script>
    <div id="comentario"> Sei fazer soldas sanitárias.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q43" ></canvas>
    <script>create_chartpie("q43",{{ lista_Elemec[42] | safe}},"Q43")</script>
    <div id="comentario"> Sei fazer a regulagem da máquina de solda.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q44" ></canvas>
    <script>create_chartpie("q44",{{ lista_Elemec[43] | safe}},"Q44")</script>
    <div id="comentario"> Consigo interpretar e fazer cálculo de desenho técnico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q45" ></canvas>
    <script>create_chartpie("q45",{{ lista_Elemec[44] | safe}},"Q45")</script>
    <div id="comentario"> Conheço os tipos de metais, suas características e aplicações.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q46" ></canvas>
    <script>create_chartpie("q46",{{ lista_Elemec[45] | safe}},"Q46")</script>
    <div id="comentario"> Conheço os tipos de ferramentas para torno e suas aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q47" ></canvas>
    <script>create_chartpie("q47",{{ lista_Elemec[46] | safe}},"Q47")</script>
    <div id="comentario"> Sei fazer regulagem de torno.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q48" ></canvas>
    <script>create_chartpie("q48",{{ lista_Elemec[47] | safe}},"Q48")</script>
    <div id="comentario"> Consigo identificar componentes elétricos em um esquema, Conheço comandos elétricos apresentados e a simbologia utilizada.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q49" ></canvas>
    <script>create_chartpie("q49",{{ lista_Elemec[48] | safe}},"Q49")</script>
    <div id="comentario"> Conheço instrumentos de medição e grandezas elétricas e consegue utilizá-lo na rotina para solução de problemas (Voltímetro, Ohmímetro, Amperímetro, Megômetro, Osciloscópio, Terrômetro, Câmera termográfica, Analisador de vibração, Analisador de energia).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q50" ></canvas>
    <script>create_chartpie("q50",{{ lista_Elemec[49] | safe}},"Q50")</script>
    <div id="comentario"> Consegue fazer a organização de um painel de acordo com o padrão.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q51" ></canvas>
    <script>create_chartpie("q51",{{ lista_Elemec[50] | safe}},"Q51")</script>
    <div id="comentario"> Consegue fazer a montagem de um painel de acordo com o padrão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q52" ></canvas>
    <script>create_chartpie("q52",{{ lista_Elemec[51] | safe}},"Q52")</script>
    <div id="comentario"> Sei como executar uma inspeção preventiva de painel.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q53" ></canvas>
    <script>create_chartpie("q53",{{ lista_Elemec[52] | safe}},"Q53")</script>
    <div id="comentario"> Sei como é o funcionamento de um motor elétrico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q54" ></canvas>
    <script>create_chartpie("q54",{{ lista_Elemec[53] | safe}},"Q54")</script>
    <div id="comentario"> Sei quais são e como identificar os tipos de motores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q55" ></canvas>
    <script>create_chartpie("q55",{{ lista_Elemec[54] | safe}},"Q55")</script>
    <div id="comentario"> Sei como funciona o sistema de megagem de um motor e como executar.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q56" ></canvas>
    <script>create_chartpie("q56",{{ lista_Elemec[55] | safe}},"Q56")</script>
    <div id="comentario"> Sei fazer a montagem e a desmontagem de motores elétricos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q57" ></canvas>
    <script>create_chartpie("q57",{{ lista_Elemec[56] | safe}},"Q57")</script>
    <div id="comentario"> Conheço o processo de fechamento de motores elétricos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q58" ></canvas>
    <script>create_chartpie("q58",{{ lista_Elemec[57] | safe}},"Q58")</script>
    <div id="comentario"> Conheço o funcionamento de um sistema de freio, quais são os tipos e como reparar.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q59" ></canvas>
    <script>create_chartpie("q59",{{ lista_Elemec[58] | safe}},"Q59")</script>
    <div id="comentario"> Conheço o conceito de inspeção qualitativa (com métrica) e consegue realizá-las de forma a levantar anomalias, abrindo ordens assim que as encontra.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q60" ></canvas>
    <script>create_chartpie("q60",{{ lista_Elemec[59] | safe}},"Q60")</script>
    <div id="comentario"> Sei o que são e como funcionam disjuntores.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q61" ></canvas>
    <script>create_chartpie("q61",{{ lista_Elemec[60] | safe}},"Q61")</script>
    <div id="comentario"> Sei calcular o coeficiente de disparo de um disjuntor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q62" ></canvas>
    <script>create_chartpie("q62",{{ lista_Elemec[61] | safe}},"Q62")</script>
    <div id="comentario"> Sei o que são e como funcionam fusíveis.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">6
    <canvas id = "q63" ></canvas>
    <script>create_chartpie("q63",{{ lista_Elemec[62] | safe}},"Q63")</script>
    <div id="comentario"> Sei como funciona e como dimensionar relés de proteção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q64" ></canvas>
    <script>create_chartpie("q64",{{ lista_Elemec[63] | safe}},"Q64")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores fotoelétricos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q65" ></canvas>
    <script>create_chartpie("q65",{{ lista_Elemec[64] | safe}},"Q65")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores indutivos.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q66" ></canvas>
    <script>create_chartpie("q66",{{ lista_Elemec[65] | safe}},"Q66")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores capacitivos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q67" ></canvas>
    <script>create_chartpie("q67",{{ lista_Elemec[66] | safe}},"Q67")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores ultrassônicos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q68" ></canvas>
    <script>create_chartpie("q68",{{ lista_Elemec[67] | safe}},"Q68")</script>
    <div id="comentario"> Conheço o sistema de funcionamento e aplicações de sensores de fibra ótica.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q69" ></canvas>
    <script>create_chartpie("q69",{{ lista_Elemec[68] | safe}},"Q69")</script>
    <div id="comentario"> Conheço os tipos de encoders (incremental, absoluto e multicanal), como funcionam e principais aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q70" ></canvas>
    <script>create_chartpie("q70",{{ lista_Elemec[69] | safe}},"Q70")</script>
    <div id="comentario"> Conheço os princípios de funcionamentos de inversores de frequência e soft starters.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q71" ></canvas>
    <script>create_chartpie("q71",{{ lista_Elemec[70] | safe}},"Q71")</script>
    <div id="comentario"> Sei fazer o dimensionamento de inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q72" ></canvas>
    <script>create_chartpie("q72",{{ lista_Elemec[71] | safe}},"Q72")</script>
    <div id="comentario"> Sei fazer ajustes em inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q73" ></canvas>
    <script>create_chartpie("q73",{{ lista_Elemec[72] | safe}},"Q73")</script>
    <div id="comentario"> Sei fazer ligações com inversores de frequência e soft starters.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q74" ></canvas>
    <script>create_chartpie("q74",{{ lista_Elemec[73] | safe}},"Q74")</script>
    <div id="comentario"> Sei identificar e calibrar instrumentos básicos (PI, PT100, PT1000, Condutivímetros, sondas, conversores, oxímetros, fluxostatos, pressostatos, transmissores de pressão, transmissores de nível e transmissores de temperatura).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q75" ></canvas>
    <script>create_chartpie("q75",{{ lista_Elemec[74] | safe}},"Q75")</script>
    <div id="comentario"> Sei identificar e calibrar instrumentos complexos (Válvulas moduladoras, válvulas on-off, posicionadores, atuadores).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q76" ></canvas>
    <script>create_chartpie("q76",{{ lista_Elemec[75] | safe}},"Q76")</script>
    <div id="comentario"> Conheço o funcionamento, os tipos e aplicações de servomotores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q77" ></canvas>
    <script>create_chartpie("q77",{{ lista_Elemec[76] | safe}},"Q77")</script>
    <div id="comentario"> Conheço o funcionamento e manutenção dos principais drives, bem como os tipos de aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q78" ></canvas>
    <script>create_chartpie("q78",{{ lista_Elemec[77] | safe}},"Q78")</script>
    <div id="comentario"> Sei reparar servomotores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q79" ></canvas>
    <script>create_chartpie("q79",{{ lista_Elemec[78] | safe}},"Q79")</script>
    <div id="comentario"> Sei fazer o referenciamento de servomotores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q80" ></canvas>
    <script>create_chartpie("q80",{{ lista_Elemec[79] | safe}},"Q80")</script>
    <div id="comentario"> Possui certificação SEP.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q81" ></canvas>
    <script>create_chartpie("q81",{{ lista_Elemec[80] | safe}},"Q81")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de disjuntores de alta e média.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q82" ></canvas>
    <script>create_chartpie("q82",{{ lista_Elemec[81] | safe}},"Q82")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de chaves seccionadoras de alta e média.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q83" ></canvas>
    <script>create_chartpie("q83",{{ lista_Elemec[82] | safe}},"Q83")</script>
    <div id="comentario"> Conheço o funcionamento e reparo de relés de proteção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q84" ></canvas>
    <script>create_chartpie("q84",{{ lista_Elemec[83] | safe}},"Q84")</script>
    <div id="comentario"> Conheço os principais tipos de manobra em subestações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q85" ></canvas>
    <script>create_chartpie("q85",{{ lista_Elemec[84] | safe}},"Q85")</script>
    <div id="comentario"> Conheço procedimentos de aterramento.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q86" ></canvas>
    <script>create_chartpie("q86",{{ lista_Elemec[85] | safe}},"Q86")</script>
    <div id="comentario"> Conheço tipos, funcionamento de transformadores.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q87" ></canvas>
    <script>create_chartpie("q87",{{ lista_Elemec[86] | safe}},"Q87")</script>
    <div id="comentario"> Conheço portas lógicas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q88" ></canvas>
    <script>create_chartpie("q88",{{ lista_Elemec[87] | safe}},"Q88")</script>
    <div id="comentario"> Conhece os tipos de CLP.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q89" ></canvas>
    <script>create_chartpie("q89",{{ lista_Elemec[88] | safe}},"Q89")</script>
    <div id="comentario"> Sei identificar entradas e saídas (cartões).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q90" ></canvas>
    <script>create_chartpie("q90",{{ lista_Elemec[89] | safe}},"Q90")</script>
    <div id="comentario"> Sei fazer leitura em ladder.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q91" ></canvas>
    <script>create_chartpie("q91",{{ lista_Elemec[90] | safe}},"Q91")</script>
    <div id="comentario"> Conhece básico de redes de comunicação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q92" ></canvas>
    <script>create_chartpie("q92",{{ lista_Elemec[91] | safe}},"Q92")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes profibus.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q93" ></canvas>
    <script>create_chartpie("q93",{{ lista_Elemec[92] | safe}},"Q93")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes ethernet.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q94" ></canvas>
    <script>create_chartpie("q94",{{ lista_Elemec[93] | safe}},"Q94")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes supervisório.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q95" ></canvas>
    <script>create_chartpie("q95",{{ lista_Elemec[94] | safe}},"Q95")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes IoT.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q96" ></canvas>
    <script>create_chartpie("q96",{{ lista_Elemec[95] | safe}},"Q96")</script>
    <div id="comentario"> Conheço o funcionamento básico de redes DeviceNet.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q97" ></canvas>
    <script>create_chartpie("q97",{{ lista_Elemec[96] | safe}},"Q97")</script>
    <div id="comentario"> Sei a diferença entre desgaste natural e forçado e consegue identificá-los e tratá-los dentro dos equipamentos que atua.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q98" ></canvas>
    <script>create_chartpie("q98",{{ lista_Elemec[97] | safe}},"Q98")</script>
    <div id="comentario"> Sei executar atividades de manutenção preventivas mecânicas nos equipamentos que opera.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q99" ></canvas>
    <script>create_chartpie("q99",{{ lista_Elemec[98] | safe}},"Q99")</script>
    <div id="comentario"> Conheço o plano de manutenção da sua área e consegue propor revisões e melhorias.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q100" ></canvas>
    <script>create_chartpie("q100",{{ lista_Elemec[99] | safe}},"Q100")</script>
    <div id="comentario"> Conheço o conceito de Clean and Tag, quais suas etapas, como selecionar o equipamento foco e quais as saídas esperadas.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q101" ></canvas>
    <script>create_chartpie("q101",{{ lista_Elemec[100] | safe}},"Q101")</script>
    <div id="comentario"> Conheço as principais técnicas preditivas (análise de óleo, vibração, termografia, ultrassom...), Entendendo sua forma de medição e onde são realizadas na sua área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q102" ></canvas>
    <script>create_chartpie("q102",{{ lista_Elemec[101] | safe}},"Q102")</script>
    <div id="comentario"> É capaz de tratar a causa raiz de anomalias identificadas nas principais técnicas preditivas (análise de óleo, vibração, termografia, ultrassom...).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q103" ></canvas>
    <script>create_chartpie("q103",{{ lista_Elemec[102] | safe}},"Q103")</script>
    <div id="comentario"> Conheço os conceitos de RCM e FMEA, sendo capaz de propor ações para mitigar desgastes naturais e forçados.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q104" ></canvas>
    <script>create_chartpie("q104",{{ lista_Elemec[103] | safe}},"Q104")</script>
    <div id="comentario"> Conheço e consegue propor sugestões de implementações de tecnologias e ferramentas de indústria 4.0 para melhoria na produtividade da área, além de simplificar e automatizar processos e rotinas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q105" ></canvas>
    <script>create_chartpie("q105",{{ lista_Elemec[104] | safe}},"Q105")</script>
    <div id="comentario"> Conhece o conceito de engenharia de materiais,  principais tipos de materiais, suas propriedades (dureza, flexibilidade, degradabilidade, etc.) e aplicações.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q106" ></canvas>
    <script>create_chartpie("q106",{{ lista_Elemec[105] | safe}},"Q106")</script>
    <div id="comentario"> Sei utilizar as transações de SAP que afetam sua rotina (manutenção, qualidade, custo).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q107" ></canvas>
    <script>create_chartpie("q107",{{ lista_Elemec[106] | safe}},"Q107")</script>
    <div id="comentario"> Conheço o básico de Excel (fórmulas simples + criação de planilhas de acompanhamento).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q108" ></canvas>
    <script>create_chartpie("q108",{{ lista_Elemec[107] | safe}},"Q108")</script>
    <div id="comentario"> Conhecimento de ferramentas de aprendizado como Acadia e Degreed.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q109" ></canvas>
    <script>create_chartpie("q109",{{ lista_Elemec[108] | safe}},"Q109")</script>
    <div id="comentario"> Conheço o intermediário de Excel (fórmulas complexas, tabela dinâmica, análises, gráficos).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q110" ></canvas>
    <script>create_chartpie("q110",{{ lista_Elemec[109] | safe}},"Q110")</script>
    <div id="comentario"> Conheço o avançado de Excel (fórmulas complexas, macros).</div>
  </div>
</div>
<br/>


<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q111" ></canvas>
      <script>create_chartpie("q111",{{ lista_Elemec[110] | safe}},"Q111")</script>
      <div id="comentario"> Sei utilizar e criar dashboards com ferramentas de visualização com Power BI e Grafana.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q112" ></canvas>
      <script>create_chartpie("q112",{{ lista_Elemec[111] | safe}},"Q112")</script>
      <div id="comentario"> Sei fazer um 5PQs, identificando efeitos e causas raízes, e classificando as mesmas nos 6Ms (máquina, material, mão-de-obra, método, medição e meio ambiente).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q113" ></canvas>
      <script>create_chartpie("q113",{{ lista_Elemec[112] | safe}},"Q113")</script>
      <div id="comentario"> Sei utilizar ferramentas avançadas de gestão (GAPA, Relato de anomalia) para solucionar problemas.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q114" ></canvas>
      <script>create_chartpie("q114",{{ lista_Elemec[113] | safe}},"Q114")</script>
      <div id="comentario"> Sou apto a treinar seus colegas nas ferramentas de gestão.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q115" ></canvas>
      <script>create_chartpie("q115",{{ lista_Elemec[114] | safe}},"Q115")</script>
      <div id="comentario"> Consegue utilizar ferramentas como Power BI, grafana e Excel para análise de dados</div>
    </div>
</div>
<br/>
  
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q116" ></canvas>
      <script>create_chartpie("q116",{{ lista_Elemec[115] | safe}},"Q116")</script>
      <div id="comentario"> Conheço o sonho da área, principais IVs e Entendo o seu papel na área.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q117" ></canvas>
      <script>create_chartpie("q117",{{ lista_Elemec[116] | safe}},"Q117")</script>
      <div id="comentario"> Entendo e Sei explicar o cascateamento de IVs (estratégia - reunião diária - semanal).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q118" ></canvas>
      <script>create_chartpie("q118",{{ lista_Elemec[117] | safe}},"Q118")</script>
      <div id="comentario"> Sei passar os principais impactos nos indicadores durante a produtividade da área.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q119" ></canvas>
      <script>create_chartpie("q119",{{ lista_Elemec[118] | safe}},"Q119")</script>
      <div id="comentario"> Sei gerar e consultar todos indicadores que controla.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q120" ></canvas>
      <script>create_chartpie("q120",{{ lista_Elemec[119] | safe}},"Q120")</script>
      <div id="comentario"> Conheço sua meta diária e gerencia o próprio resultado no dia a dia.</div>
    </div>
</div>
<br/>
  
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q121" ></canvas>
      <script>create_chartpie("q121",{{ lista_Elemec[120] | safe}},"Q121")</script>
      <div id="comentario"> Participo da estratégia de definição de IVS foco da área.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q122" ></canvas>
      <script>create_chartpie("q122",{{ lista_Elemec[121] | safe}},"Q122")</script>
      <div id="comentario"> Food Safety.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q123" ></canvas>
      <script>create_chartpie("q123",{{ lista_Elemec[122] | safe}},"Q123")</script>
      <div id="comentario"> GMP (BPF - boas práticas de fabricação).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q124" ></canvas>
      <script>create_chartpie("q124",{{ lista_Elemec[123] | safe}},"Q124")</script>
      <div id="comentario"> HACCP (CCP).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q125" ></canvas>
      <script>create_chartpie("q125",{{ lista_Elemec[124] | safe}},"Q125")</script>
      <div id="comentario"> Índices de verificação (IVs).</div>
    </div>
</div>
<br/>
  
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q126" ></canvas>
      <script>create_chartpie("q126",{{ lista_Elemec[125] | safe}},"Q126")</script>
      <div id="comentario"> Índices de controle (ICs).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q127" ></canvas>
      <script>create_chartpie("q127",{{ lista_Elemec[126] | safe}},"Q127")</script>
      <div id="comentario"> Reclamação de Mercado (SAC).</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q128" ></canvas>
      <script>create_chartpie("q128",{{ lista_Elemec[127] | safe}},"Q128")</script>
      <div id="comentario"> Indicadores de qualidade.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q129" ></canvas>
      <script>create_chartpie("q129",{{ lista_Elemec[128] | safe}},"Q129")</script>
      <div id="comentario"> Conheço e sei realizar Principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q130" ></canvas>
      <script>create_chartpie("q130",{{ lista_Elemec[129] | safe}},"Q130")</script>
      <div id="comentario"> Conheço e sei realizar Principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
</div>
<br/>
  
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q131" ></canvas>
      <script>create_chartpie("q131",{{ lista_Elemec[130] | safe}},"Q131")</script>
      <div id="comentario"> Conheço e sei realizar Principais exigências desta NR e aplicação em sua máquina e célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q132" ></canvas>
      <script>create_chartpie("q132",{{ lista_Elemec[131] | safe}},"Q132")</script>
      <div id="comentario"> Conheço e sei  Como realizar esta análise de forma que se remeta a segurança plena numa atividade, importância da FISPQ no manuseio de produtos químicos e como utilizar adequadamente.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q133" ></canvas>
      <script>create_chartpie("q133",{{ lista_Elemec[132] | safe}},"Q133")</script>
      <div id="comentario"> Conheço o conceito e quais os principais EPIs utilizados na operação do equipamento e na célula.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q134" ></canvas>
      <script>create_chartpie("q134",{{ lista_Elemec[133] | safe}},"Q134")</script>
      <div id="comentario"> Conheço e sei realizar Seis regras de outro da Cia e o que significa cada regra. Qual o papel do operador em sua célula para garantir o cumprimento de cada RO.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q135" ></canvas>
      <script>create_chartpie("q135",{{ lista_Elemec[134] | safe}},"Q135")</script>
      <div id="comentario"> Conheço o conceitos de lockout, tagout e testout, qual o procedimento de utilização destas ferramentas e em que atividades utilizar o LOTOTO. Conceito de SAM e cuidados ao acessar maquinas.</div>
    </div>
</div>
<br/>
<div class="chart_group">
    <div id="question" class="chart_pie">
      <canvas id = "q136" ></canvas>
      <script>create_chartpie("q136",{{ lista_Elemec[135] | safe}},"Q136")</script>
      <div id="comentario"> Conheço e tenho habilidade nos tipos de PTs que usamos na Cia, e em que tipos de atividades são utilizadas, quais os profissionais envolvidos para a avaliação, preenchimento, aprovações e liberação dos serviços.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q137" ></canvas>
      <script>create_chartpie("q137",{{ lista_Elemec[136] | safe}},"Q137")</script>
      <div id="comentario"> Conheço e sei quais o principais indicadores de segurança da célula, da linha, da área e da unidade.</div>
    </div>
    <br/>
    <div id="question" class="chart_pie">
      <canvas id = "q138" ></canvas>
      <script>create_chartpie("q138",{{ lista_Elemec[137] | safe}},"Q138")</script>
      <div id="comentario"> Conheço as principais lacunas de atendimento do VPO-Pilar Segurança.</div>
    </div>
    <br/>
</div>  
