
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q1" ></canvas>
    <script>create_chartpie("q1",{{ lista_Mec[0] | safe}},"Q1")</script>
    <div id="comentario"> Conheço e executo as ferramentas básicas de solução de problemas (5 PQs, relato de anomalia).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q2" ></canvas>
    <script>create_chartpie("q2",{{ lista_Mec[1] | safe}},"Q2")</script>
    <div id="comentario"> Conheço as principais causas de anomalias dos indicadores da área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q3" ></canvas>
    <script>create_chartpie("q3",{{ lista_Mec[2] | safe}},"Q3")</script>
    <div id="comentario"> Gero ações para tratativa para os problemas dentro do turno.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q4" ></canvas>
    <script>create_chartpie("q4",{{ lista_Mec[3] | safe}},"Q4")</script>
    <div id="comentario"> Direciono a operação na solução dos problemas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q5" ></canvas>
    <script>create_chartpie("q5",{{ lista_Mec[4] | safe}},"Q5")</script>
    <div id="comentario"> Identifico e atuo em casos de falhas, compreendendo a causa fundamental.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q6" ></canvas>
    <script>create_chartpie("q6",{{ lista_Mec[5] | safe}},"Q6")</script>
    <div id="comentario"> Interpreto e identifico RDP.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q7" ></canvas>
    <script>create_chartpie("q7",{{ lista_Mec[6] | safe}},"Q7")</script>
    <div id="comentario"> Realizo propostas e elaboro planos de manutenção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q8" ></canvas>
    <script>create_chartpie("q8",{{ lista_Mec[7] | safe}},"Q8")</script>
    <div id="comentario"> Domino e aplico conceitos do Pilar Manutenção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q9" ></canvas>
    <script>create_chartpie("q9",{{ lista_Mec[8] | safe}},"Q9")</script>
    <div id="comentario"> Domino e aplico a metodologia RCM.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q10" ></canvas>
    <script>create_chartpie("q10",{{ lista_Mec[9] | safe}},"Q10")</script>
    <div id="comentario"> Programo atividades de manutenção para equipes fabril (júnior) e pleno.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q11" ></canvas>
    <script>create_chartpie("q11",{{ lista_Mec[10] | safe}},"Q11")</script>
    <div id="comentario"> Conheço o sonho da área, principais Ivs e Entendo o seu papel na área.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q12" ></canvas>
    <script>create_chartpie("q12",{{ lista_Mec[11] | safe}},"Q12")</script>
    <div id="comentario"> Entendo e sei explicar o cascateamento de Ivs (estratégia  reunião diária  troca de turno).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q13" ></canvas>
    <script>create_chartpie("q13",{{ lista_Mec[12] | safe}},"Q13")</script>
    <div id="comentario"> Conheço minha meta diária e gerencio o próprio resultado no dia a dia.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q14" ></canvas>
    <script>create_chartpie("q14",{{ lista_Mec[13] | safe}},"Q14")</script>
    <div id="comentario"> Treino demais funcionários nas ferramentas de gestão.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q15" ></canvas>
    <script>create_chartpie("q15",{{ lista_Mec[14] | safe}},"Q15")</script>
    <div id="comentario"> Possuo conhecimento em 100% dos itens do plano de tráfego.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q16" ></canvas>
    <script>create_chartpie("q16",{{ lista_Mec[15] | safe}},"Q16")</script>
    <div id="comentario"> Possuo conhecimento dos padrões e procedimentos de atividades críticas (SWI).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q17" ></canvas>
    <script>create_chartpie("q17",{{ lista_Mec[16] | safe}},"Q17")</script>
    <div id="comentario"> Executo as tarefas de segurança (relato de incidente, abordagem, condição insegura.).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q18" ></canvas>
    <script>create_chartpie("q18",{{ lista_Mec[17] | safe}},"Q18")</script>
    <div id="comentario"> Conheço os últimos SIFs da área e principais saídas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q19" ></canvas>
    <script>create_chartpie("q19",{{ lista_Mec[18] | safe}},"Q19")</script>
    <div id="comentario"> Sei analisar os principais indicadores de produtividade relacionado a atividades críticas e sua correlação com segurança.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q20" ></canvas>
    <script>create_chartpie("q20",{{ lista_Mec[19] | safe}},"Q20")</script>
    <div id="comentario"> Busco melhoria continua nos processos e condições em prol de segurança.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q21" ></canvas>
    <script>create_chartpie("q21",{{ lista_Mec[20] | safe}},"Q21")</script>
    <div id="comentario"> Interpreto e tenho noções básicas de desenho técnico, como Identificação de tipo de vistas/perspectivas (isométrica, primeiro diedro, segundo diedro).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q22" ></canvas>
    <script>create_chartpie("q22",{{ lista_Mec[21] | safe}},"Q22")</script>
    <div id="comentario"> Possuo capacidade de realizar leituras de indicações de tolerância, símbolos de acabamento, superfície e rugosidade.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q23" ></canvas>
    <script>create_chartpie("q23",{{ lista_Mec[22] | safe}},"Q23")</script>
    <div id="comentario"> Possuo conhecimento básico de CAD/Solidworks.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q24" ></canvas>
    <script>create_chartpie("q24",{{ lista_Mec[23] | safe}},"Q24")</script>
    <div id="comentario"> Possuo conhecimento de Desenho Técnico em Projetos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q25" ></canvas>
    <script>create_chartpie("q25",{{ lista_Mec[24] | safe}},"Q25")</script>
    <div id="comentario"> Possuo conhecimento dos sistemas (unidades) de medidas, como as unidades de vazão e pressão.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q26" ></canvas>
    <script>create_chartpie("q26",{{ lista_Mec[25] | safe}},"Q26")</script>
    <div id="comentario"> Utilizo com expertise as ferramentas e instrumentos de medição, como paquímetro, micrômetro, relógio comparador, torquímetro, pirômetro, goniômetro e manômetro.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q27" ></canvas>
    <script>create_chartpie("q27",{{ lista_Mec[26] | safe}},"Q27")</script>
    <div id="comentario"> Possuo conhecimento e capacidade de Utilização de ferramentas mais complexas como alinhador a laser, medidor ultrassônico, câmera termográfica, medidor de vibração, aquecedor indutivo de rolamentos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q28" ></canvas>
    <script>create_chartpie("q28",{{ lista_Mec[27] | safe}},"Q28")</script>
    <div id="comentario"> Conheço e utilizo corretamente as ferramentas manuais e coletivas, como: lixadeira, furadeira, esmeril, guilhotina, dobradeira de tubos etc.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q29" ></canvas>
    <script>create_chartpie("q29",{{ lista_Mec[28] | safe}},"Q29")</script>
    <div id="comentario"> Conheço e aplico as operações básicas de fabricação mecânica como: afiação de broca; Identificação de folgas axiais e radiais em um eixo; montagem e desmontagem de rolamento, Utilização de calibre de lâmina e alinhamento de polias e tensionamento de correias.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q30" ></canvas>
    <script>create_chartpie("q30",{{ lista_Mec[29] | safe}},"Q30")</script>
    <div id="comentario"> Possuo conhecimento de elementos básicos de máquinas, como: engrenagens, acoplamentos (alinhamentos), passos de rosca elementos de fixação, correias e materiais.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q31" ></canvas>
    <script>create_chartpie("q31",{{ lista_Mec[30] | safe}},"Q31")</script>
    <div id="comentario"> Possuo conhecimento  de calderaria, como dimensionamento e traçagem.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q32" ></canvas>
    <script>create_chartpie("q32",{{ lista_Mec[31] | safe}},"Q32")</script>
    <div id="comentario"> Possuo conhecimento de ensaios mecânicos e esforços, como: tração, compressão e fadiga.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q33" ></canvas>
    <script>create_chartpie("q33",{{ lista_Mec[32] | safe}},"Q33")</script>
    <div id="comentario"> Possuo conhecimento soluções de problemas de preditivas e capacidade de realização de análise básica de falhas mecânicas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q34" ></canvas>
    <script>create_chartpie("q34",{{ lista_Mec[33] | safe}},"Q34")</script>
    <div id="comentario"> Possuo capacidade de realizar dimensionamentos e instalações de componentes mecânicos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q35" ></canvas>
    <script>create_chartpie("q35",{{ lista_Mec[34] | safe}},"Q35")</script>
    <div id="comentario"> Possuo conhecimento básico sobre execução de projetos mecânicos.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q36" ></canvas>
    <script>create_chartpie("q36",{{ lista_Mec[35] | safe}},"Q36")</script>
    <div id="comentario"> Possuo conhecimento e aplicações de operações mais complexas como: Utilização de torno mecânico, furadeira e prensa.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q37" ></canvas>
    <script>create_chartpie("q37",{{ lista_Mec[36] | safe}},"Q37")</script>
    <div id="comentario"> Possuo conhecimento e capacidade de realizar leitura de pressostato e manômetros; leitura de esquema pneumático e hidráulico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q38" ></canvas>
    <script>create_chartpie("q38",{{ lista_Mec[37] | safe}},"Q38")</script>
    <div id="comentario"> Consigo identificar o problema e realizar a tratativa para solução através de análise do sistema pneumático e hidráulico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q39" ></canvas>
    <script>create_chartpie("q39",{{ lista_Mec[38] | safe}},"Q39")</script>
    <div id="comentario"> Executo a revisão de válvulas pneumáticas e cilindros hidráulicos ou pneumáticos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q40" ></canvas>
    <script>create_chartpie("q40",{{ lista_Mec[39] | safe}},"Q40")</script>
    <div id="comentario"> Identifico travamento de válvula direcional e passagem entre câmara e pistão de cilindro (êmbolo).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q41" ></canvas>
    <script>create_chartpie("q41",{{ lista_Mec[40] | safe}},"Q41")</script>
    <div id="comentario"> Possuo capacidade de realizar melhorias nos sistemas hidráulicos e pneumáticos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q42" ></canvas>
    <script>create_chartpie("q42",{{ lista_Mec[41] | safe}},"Q42")</script>
    <div id="comentario"> Possuo capacidade de realizar manutenção dos componentes hidráulicos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q43" ></canvas>
    <script>create_chartpie("q43",{{ lista_Mec[42] | safe}},"Q43")</script>
    <div id="comentario"> Possuo conhecimento básico sobre bombas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q44" ></canvas>
    <script>create_chartpie("q44",{{ lista_Mec[43] | safe}},"Q44")</script>
    <div id="comentario"> Possuo conhecimento de noções básicas de termodinâmica, como: tipos de conversão, princípios de troca térmica (fluidos).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q45" ></canvas>
    <script>create_chartpie("q45",{{ lista_Mec[44] | safe}},"Q45")</script>
    <div id="comentario"> Possuo conhecimento teórico sobre trocadores de calor.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q46" ></canvas>
    <script>create_chartpie("q46",{{ lista_Mec[45] | safe}},"Q46")</script>
    <div id="comentario"> Possuo conhecimento teórico e aplicação sobre os tipos de fluidos e juntas e sua Utilização dentro da Cervejaria.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q47" ></canvas>
    <script>create_chartpie("q47",{{ lista_Mec[46] | safe}},"Q47")</script>
    <div id="comentario"> Identifico falhas sistêmicas de bombas, anomalias e componentes com necessidade de substituição.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q48" ></canvas>
    <script>create_chartpie("q48",{{ lista_Mec[47] | safe}},"Q48")</script>
    <div id="comentario"> Possuo conhecimento básico de Mecânica dos Fluídos e Termodinâmica para atuar na solução das falhas em bombas, como: cavitação, presença de ar no fluido, selo ou gaxeta danificada.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q49" ></canvas>
    <script>create_chartpie("q49",{{ lista_Mec[48] | safe}},"Q49")</script>
    <div id="comentario"> Possuo conhecimento sobre trocadores de calor (tipos, placas, cascos e tubos) e sistemas de aquecimento como o CIP.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q50" ></canvas>
    <script>create_chartpie("q50",{{ lista_Mec[49] | safe}},"Q50")</script>
    <div id="comentario"> Possuo conhecimento sobre válvulas redutoras de pressão.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q51" ></canvas>
    <script>create_chartpie("q51",{{ lista_Mec[50] | safe}},"Q51")</script>
    <div id="comentario"> Possuo capacidade de realização de manutenção de trocadores de calor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q52" ></canvas>
    <script>create_chartpie("q52",{{ lista_Mec[51] | safe}},"Q52")</script>
    <div id="comentario"> Possuo conhecimento de fluidos para trocador de calor, bomba e isolamento térmico.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q53" ></canvas>
    <script>create_chartpie("q53",{{ lista_Mec[52] | safe}},"Q53")</script>
    <div id="comentario"> Possuo conhecimento para criticar e sugerir melhorias de trocador de calor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q54" ></canvas>
    <script>create_chartpie("q54",{{ lista_Mec[53] | safe}},"Q54")</script>
    <div id="comentario"> Possuo conhecimento básico de soldagem mecânica, distinguindo os tipos de processos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q55" ></canvas>
    <script>create_chartpie("q55",{{ lista_Mec[54] | safe}},"Q55")</script>
    <div id="comentario"> Realizo o processo de solda básica (ex. Pé de mesa).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q56" ></canvas>
    <script>create_chartpie("q56",{{ lista_Mec[55] | safe}},"Q56")</script>
    <div id="comentario"> Possuo conhecimentos de Solda sanitária e tubulações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q57" ></canvas>
    <script>create_chartpie("q57",{{ lista_Mec[56] | safe}},"Q57")</script>
    <div id="comentario"> Identifico técnica de soldagem/usinagem mais adequada para manutenção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q58" ></canvas>
    <script>create_chartpie("q58",{{ lista_Mec[57] | safe}},"Q58")</script>
    <div id="comentario"> Conheço e aplica conhecimentos sobre Requisitos Legais e Normas - Calderias, NR12, NR13 ... (link com Mecânica).</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q59" ></canvas>
    <script>create_chartpie("q59",{{ lista_Mec[58] | safe}},"Q59")</script>
    <div id="comentario"> Possuo conhecimento em Inspeção Soldagem Nr-13.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q60" ></canvas>
    <script>create_chartpie("q60",{{ lista_Mec[59] | safe}},"Q60")</script>
    <div id="comentario"> Realizo testes e ensaios não destrutivos em solda (líquido penetrante).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q61" ></canvas>
    <script>create_chartpie("q61",{{ lista_Mec[60] | safe}},"Q61")</script>
    <div id="comentario"> Possuo conhecimento básico dos tipos de materiais para cada tipo de aplicação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q62" ></canvas>
    <script>create_chartpie("q62",{{ lista_Mec[61] | safe}},"Q62")</script>
    <div id="comentario"> Possuo conhecimento sobre polímeros e aditivos, como: suas aplicações, aditivos ABS e o que eles forneceram.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">6
    <canvas id = "q63" ></canvas>
    <script>create_chartpie("q63",{{ lista_Mec[62] | safe}},"Q63")</script>
    <div id="comentario"> Possuo capacidade de sugerir novos tipos de materiais para as aplicações.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q64" ></canvas>
    <script>create_chartpie("q64",{{ lista_Mec[63] | safe}},"Q64")</script>
    <div id="comentario"> Possuo capacidade de realizar soldagem com argônio.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q65" ></canvas>
    <script>create_chartpie("q65",{{ lista_Mec[64] | safe}},"Q65")</script>
    <div id="comentario"> Possuo conhecimento de Engenharia de Materiais e tecnologias e contribui para o desenvolvimento de peças.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q66" ></canvas>
    <script>create_chartpie("q66",{{ lista_Mec[65] | safe}},"Q66")</script>
    <div id="comentario"> Possuo conhecimento sobres tipos e aplicações de ligas metálicas e tratamentos térmicos/usinagem.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q67" ></canvas>
    <script>create_chartpie("q67",{{ lista_Mec[66] | safe}},"Q67")</script>
    <div id="comentario"> Possuo capacidade de realizar e aplicar solda sanitária.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q68" ></canvas>
    <script>create_chartpie("q68",{{ lista_Mec[67] | safe}},"Q68")</script>
    <div id="comentario"> Possuo conhecimento dos tipos de lubrificantes e graxas básicos (minerais e sintéticos); lubrificantes alimentícios e o nível correto de lubrificação dependendo da posição do instalador do redutor.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q69" ></canvas>
    <script>create_chartpie("q69",{{ lista_Mec[68] | safe}},"Q69")</script>
    <div id="comentario"> Realizo o armazenamento, manuseio de lubrificação e inspeção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q70" ></canvas>
    <script>create_chartpie("q70",{{ lista_Mec[69] | safe}},"Q70")</script>
    <div id="comentario">  Conheço todo o regulamento do Toolkit de Lubrificação e Executo.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q71" ></canvas>
    <script>create_chartpie("q71",{{ lista_Mec[70] | safe}},"Q71")</script>
    <div id="comentario"> Executo o checklist de limpeza técnica.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q72" ></canvas>
    <script>create_chartpie("q72",{{ lista_Mec[71] | safe}},"Q72")</script>
    <div id="comentario"> Interpretação de Código LIS.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q73" ></canvas>
    <script>create_chartpie("q73",{{ lista_Mec[72] | safe}},"Q73")</script>
    <div id="comentario"> Elaboro e revisa procedimentos e toolkits da área de  manutenção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q74" ></canvas>
    <script>create_chartpie("q74",{{ lista_Mec[73] | safe}},"Q74")</script>
    <div id="comentario"> Executo planos preventivos mais complexos de manutenção.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q75" ></canvas>
    <script>create_chartpie("q75",{{ lista_Mec[74] | safe}},"Q75")</script>
    <div id="comentario"> Sigo instrução de toolkit de limpeza propondo melhorias e otimizando status quo da máquina.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q76" ></canvas>
    <script>create_chartpie("q76",{{ lista_Mec[75] | safe}},"Q76")</script>
    <div id="comentario"> Executo e ensina Manutenção/overhaul em compressores e centrífuga.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q77" ></canvas>
    <script>create_chartpie("q77",{{ lista_Mec[76] | safe}},"Q77")</script>
    <div id="comentario"> Realizo manutenção Mecânica em novas Tecnologias - Robótica -p/exemplo.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q78" ></canvas>
    <script>create_chartpie("q78",{{ lista_Mec[77] | safe}},"Q78")</script>
    <div id="comentario"> Possuo conhecimento e capacidade para sugerir e realizar melhorias de manutenção nos procedimentos de overhaul.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q79" ></canvas>
    <script>create_chartpie("q79",{{ lista_Mec[78] | safe}},"Q79")</script>
    <div id="comentario"> Conheço e acessa os sistemas básicos de rotina e apps de segurança.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q80" ></canvas>
    <script>create_chartpie("q80",{{ lista_Mec[79] | safe}},"Q80")</script>
    <div id="comentario"> Possuo noções básicas de SAP (Local de inst., lista técnica, código SAP, estoque, ordem de serviço).</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q81" ></canvas>
    <script>create_chartpie("q81",{{ lista_Mec[80] | safe}},"Q81")</script>
    <div id="comentario"> Consigo consultar a especificação de peças e materiais no sistema.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q82" ></canvas>
    <script>create_chartpie("q82",{{ lista_Mec[81] | safe}},"Q82")</script>
    <div id="comentario"> Possuo noções básicas de CAD/Solidworks.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q83" ></canvas>
    <script>create_chartpie("q83",{{ lista_Mec[82] | safe}},"Q83")</script>
    <div id="comentario"> Consulto e Utilizo o Smartcheck - CIL Online.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q84" ></canvas>
    <script>create_chartpie("q84",{{ lista_Mec[83] | safe}},"Q84")</script>
    <div id="comentario"> Consulto e Utilizo o Coletor - Max.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q85" ></canvas>
    <script>create_chartpie("q85",{{ lista_Mec[84] | safe}},"Q85")</script>
    <div id="comentario"> Conheço e Utilizo o site MySemeq.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q86" ></canvas>
    <script>create_chartpie("q86",{{ lista_Mec[85] | safe}},"Q86")</script>
    <div id="comentario"> Conheço e Utilizo Preditiva Online.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q87" ></canvas>
    <script>create_chartpie("q87",{{ lista_Mec[86] | safe}},"Q87")</script>
    <div id="comentario"> Utilizo as ferramentas e sistemas relacionados a Tecnologias - CNC, 3D, elementos finitos.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q88" ></canvas>
    <script>create_chartpie("q88",{{ lista_Mec[87] | safe}},"Q88")</script>
    <div id="comentario"> Conheço e Utilizo a plataforma de compras rápidas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q89" ></canvas>
    <script>create_chartpie("q89",{{ lista_Mec[88] | safe}},"Q89")</script>
    <div id="comentario"> Conheço o conceito e papel da operação para a segurança alimentar.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q90" ></canvas>
    <script>create_chartpie("q90",{{ lista_Mec[89] | safe}},"Q90")</script>
    <div id="comentario"> Conheço quais as principais formas de se realizar boas práticas de produção.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q91" ></canvas>
    <script>create_chartpie("q91",{{ lista_Mec[90] | safe}},"Q91")</script>
    <div id="comentario"> Conheço qual o conceito e qual o CCP na máquina e célula. Quais os registros.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q92" ></canvas>
    <script>create_chartpie("q92",{{ lista_Mec[91] | safe}},"Q92")</script>
    <div id="comentario"> Conheço o conceito, quais os Índices de controle de sua máquina e célula,  e registro. Como são discutidos em reuniões do time.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q93" ></canvas>
    <script>create_chartpie("q93",{{ lista_Mec[92] | safe}},"Q93")</script>
    <div id="comentario"> Conheço o conceito de SAC, como ocorre e quais as ações de prevenção na operação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q94" ></canvas>
    <script>create_chartpie("q94",{{ lista_Mec[93] | safe}},"Q94")</script>
    <div id="comentario"> Conheço quais o principais indicadores de qualidade de sua célula ou da linha.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q95" ></canvas>
    <script>create_chartpie("q95",{{ lista_Mec[94] | safe}},"Q95")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q96" ></canvas>
    <script>create_chartpie("q96",{{ lista_Mec[95] | safe}},"Q96")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q97" ></canvas>
    <script>create_chartpie("q97",{{ lista_Mec[96] | safe}},"Q97")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q98" ></canvas>
    <script>create_chartpie("q98",{{ lista_Mec[97] | safe}},"Q98")</script>
    <div id="comentario"> Conheço quais as principais exigências desta NR e aplicação em sua máquina e célula.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q99" ></canvas>
    <script>create_chartpie("q99",{{ lista_Mec[98] | safe}},"Q99")</script>
    <div id="comentario"> Conheço como realizar está análise de forma que se remeta a segurança plena numa atividade, importância da FISPQ no manuseio de produtos químicos e como utilizar adequadamente.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q100" ></canvas>
    <script>create_chartpie("q100",{{ lista_Mec[99] | safe}},"Q100")</script>
    <div id="comentario"> Conheço Conceito e quais os principais EPIs utilizados na operação do equipamento e na célula</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q101" ></canvas>
    <script>create_chartpie("q101",{{ lista_Mec[100] | safe}},"Q101")</script>
    <div id="comentario"> Conheço quais são as  seis regras de outro da Cia e o que significa cada regra. Qual o papel do operador em sua célula para garantir o cumprimento de cada Requisito Obrigatório.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q102" ></canvas>
    <script>create_chartpie("q102",{{ lista_Mec[101] | safe}},"Q102")</script>
    <div id="comentario"> Conheço quais os conceitos de lockout, tagout e testout, qual o procedimento de utilização destas ferramentas e em que atividades utilizar o LOTOTO. Conceito de SAM e cuidados ao acessar maquinas.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q103" ></canvas>
    <script>create_chartpie("q103",{{ lista_Mec[102] | safe}},"Q103")</script>
    <div id="comentario"> Conheço quais os tipos de PTs que usamos na Cia, e em que tipos de atividades são utilizadas, quais os profissionais envolvidos para a avaliação, preenchimento, aprovações e liberação dos serviços.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q104" ></canvas>
    <script>create_chartpie("q104",{{ lista_Mec[103] | safe}},"Q104")</script>
    <div id="comentario"> Conheço qual o registro da investigação, quem participa e quais as etapas de investigação.</div>
  </div>
  <br/>
  <div id="question" class="chart_pie">
    <canvas id = "q105" ></canvas>
    <script>create_chartpie("q105",{{ lista_Mec[104] | safe}},"Q105")</script>
    <div id="comentario"> Conheço qual as classificações da Curva de Bradley de acidentes e ou célula. Como está a pirâmide da linha da área.</div>
  </div>
</div>
<br/>
<div class="chart_group">
  <div id="question" class="chart_pie">
    <canvas id = "q106" ></canvas>
    <script>create_chartpie("q106",{{ lista_Mec[105] | safe}},"Q106")</script>
    <div id="comentario"> Conheço quais o principais indicadores de segurança da célula, da linha, da área e da unidade.</div>
  </div>
  <br/>
</div>
<br/>

